﻿@model VehicleQueueApp.Models.PermissionsList
@using HtmlHelpers.BeginCollectionItem

<tr  class="editorRow">
@using (Html.BeginCollectionItem("permissionlists"))
{
    <td>@Html.HiddenFor(m => m.permissionid)
        @Html.HiddenFor(m=>m.permissionname)
        @Html.DisplayFor(m => m.permissionname)
        <a href="#" class="deleteRow">delete</a>
    </td>
}
</tr>



