﻿@model  VehicleQueueApp.Models.AppModule
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.ModuleName, new { @class = "control-label col-2" })
            @Html.EditorFor(model => model.ModuleName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ModuleName)
        </div>   
        <div class="col-md-6">
            @Html.LabelFor(model => model.ModuleLink, new { @class = "control-label col-2" })
            @Html.EditorFor(model => model.ModuleLink)
            @Html.ValidationMessageFor(model => model.ModuleLink)
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.ModuleIndex, new { @class = "control-label col-2" })
            @Html.EditorFor(model => model.ModuleIndex)
            @Html.ValidationMessageFor(model => model.ModuleIndex)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.ModuleParam, new { @class = "control-label col-2" })
            @Html.EditorFor(model => model.ModuleParam)
            @Html.ValidationMessageFor(model => model.ModuleParam)
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.CssClass, new { @class = "control-label col-2" })
            @Html.EditorFor(model => model.CssClass)
            @Html.ValidationMessageFor(model => model.CssClass)
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(model => model.ShowInMenu)
            @Html.LabelFor(model => model.ShowInMenu, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.ShowInMenu)
        </div>

        <div class="col-md-12">
            @Html.EditorFor(model => model.isPrimary)
            @Html.LabelFor(model => model.isPrimary, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.isPrimary)
        </div>
        <div class="col-md-12">
            @Html.EditorFor(model => model.isDisable)
            @Html.LabelFor(model => model.isDisable, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.isDisable)
        </div>
    </div>
</div>
<div class="row">

    <div class="form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Sort, new { @class = "control-label col-2" })
            @Html.EditorFor(model => model.Sort)
            @Html.ValidationMessageFor(model => model.Sort)
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <h3 class="padding-left">Main Permissions</h3>
        <div class="col-md-12">
            @Html.EditorFor(model => model.HasFullAccess)
            @Html.LabelFor(model => model.HasFullAccess, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.HasFullAccess)
        </div>
        <div class="col-md-12">
            @Html.EditorFor(model => model.HasCreate)
            @Html.LabelFor(model => model.HasCreate, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.HasCreate)
        </div>
        <div class="col-md-12">
            @Html.EditorFor(model => model.HasEdit)
            @Html.LabelFor(model => model.HasEdit, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.HasEdit)
        </div>
        <div class="col-md-12">
            @Html.EditorFor(model => model.HasDelete)
            @Html.LabelFor(model => model.HasDelete, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.HasDelete)
        </div>
        <div class="col-md-12">
            @Html.EditorFor(model => model.HasView)
            @Html.LabelFor(model => model.HasView, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.HasView)
        </div>
        <div class="col-md-12">
            @Html.EditorFor(model => model.HasDetail)
            @Html.LabelFor(model => model.HasDetail, new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.HasDetail)
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            <input type="text" value="" id="permissionname" name="permissionname" class="form-control pull-left col-xs-9" />
            <input type="button" id="btnaddpermission" value="Add new permission" class="btn btn-primary" />
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <h3 class="padding-left">Custom Permissions</h3>
        <table id="table">
            <tbody>
                @if (Model.permissionlists != null)
            {
                foreach (var item in Model.permissionlists)
                {
                    { Html.RenderPartial("~/Views/Shared/EditorTemplates/permissionlists.cshtml", item); }
                }
            }
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#btnaddpermission', function () {
        var vals = $("#permissionname").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("AddnewPermission", "Module")?permissionname=" + vals,
            success: function (data) {
                $("#table tbody").append(data);
                $("#permissionname").val("");

            },
            error: function (errorData) { onError(errorData); }
        });

    });
    $("#table").on('click', "a.deleteRow", function () {
        $(this).parents("tr.editorRow:first").remove();
        return false;
    });

</script>

