﻿@model VehicleQueueApp.Models.AppModuleConfig

@{
    ViewBag.Title = "Module Config";
    var MId = ViewBag.ModuleId;
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.ConfigID)
	<div class="row">
		@Html.LabelFor(model => model.AppModule.ModuleName, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.DisplayFor(model => model.AppModule.ModuleName)
		</div>
	</div>
	<div class="row">
		@Html.LabelFor(model => model.ConfigKey, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.EditorFor(model => model.ConfigKey)
			@Html.ValidationMessageFor(model => model.ConfigKey)
		</div>
	</div>

	<div class="row">
		@Html.LabelFor(model => model.ConfigValue, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.EditorFor(model => model.ConfigValue)
			@Html.ValidationMessageFor(model => model.ConfigValue)
		</div>
	</div>

	<div class="row">
		@Html.LabelFor(model => model.Description, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.DisplayFor(model => model.Description)
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Config", "Module", new { ModuleId = MId })
</div>
