﻿@model IEnumerable<VehicleQueueApp.Models.AppModuleConfig>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Module Configuration";
    var ModuleId = ViewBag.ModuleId;
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: WebConstants.PagingSizeBig, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid-content");
    grid.Pager(WebGridPagerModes.NextPrevious);
}


<div id="grid-content">
    @if (Model.Count() > 0)
    {
        @grid.GetHtml(tableStyle: "content-table grid",
            headerStyle: "grid-header",
            footerStyle: "grid-footer",
            alternatingRowStyle: "alt-row",
            selectedRowStyle: "select-row",
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "Prev",
            nextText: "Next",
            lastText: "Last >>",

            columns: grid.Columns(
            grid.Column(columnName: "AppModule.ModuleName", header: "Module Name"),
            grid.Column(columnName: "ConfigKey", header: "Name"),
            grid.Column(columnName: "ConfigValue", header: "Value"),
            grid.Column(columnName: "Description", header: "Description"),
            grid.Column("", header: "Actions", style: "grid-actions", format: @<text>
                @if (!item.isLock)
                {
                    @Html.ActionLink("Edit", "ConfigEdit", new { id = item.ConfigID, ModuleId = ModuleId }, new { @class = "grid-edit" })
                }
            </text>)
        ))}
    else
    {
        <div class="row">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats">
                    <h2 class="text-center">Tokens</h2>
                    <div class="text-info text-center h5">No Record Found</div>
                   </div>
            </div>
        </div>
                    }

                </div>


