﻿@model VehicleQueueApp.Models.AppModule

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "App Module Registration";
}
<div class="_right_col" role="main">
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">Create</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    Html.RenderPartial("_attributes", Model);

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                        </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div></div></div>