﻿@model IEnumerable<VehicleQueueApp.Models.AppModule>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "App Modules";
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: WebConstants.PagingSizeBig, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid-content");
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats no-padding">
            <ul class="breadcrumbn">
                <li>@Html.ActionLink("Create New", "Create", null, new { @class = ""})</li>
                <li>@Html.ActionLink("Module Configuration", "Config", null, new { @class = ""})</li>
            </ul>
            </div>
        </div>
    </div>
<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <h2 class="text-center no-margin-top">Assinging Modules</h2>
            <div class="x_panel">
                <div class="x_content">
                    @if (Model.Count() > 0)
                    {
                        @grid.GetHtml(tableStyle: "content-table grid table table-striped table-bordered",
            headerStyle: "grid-header",
            footerStyle: "grid-footer",
            alternatingRowStyle: "alt-row",
            selectedRowStyle: "select-row",
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "Prev",
            nextText: "Next",
            lastText: "Last >>",

            columns: grid.Columns(
            grid.Column(columnName: "ModuleName", header: "Module Name"),
            grid.Column(columnName: "RolesAssigned", header: "Roles"),
            grid.Column("", header: "Actions", style: "grid-actions", format: @<text>
                @Html.ActionLink("Edit", "Edit", new { id = item.ModuleID }, new { @class = "grid-edit btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ModuleID }, new { @class = "grid-delete delete-link btn-danger" })
            </text>)
                  ))
                    }
                    else
                    {
                        <div class="text-info h5 text-center">No Record Found</div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

