﻿@model IEnumerable<VehicleQueueApp.Models.BankChallanDetail>

@{
    ViewBag.Title = "BankChallanDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? count = 0;
}

<div class="_right_col" role="main">
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">BankChallan Detail</h2>

                <div class="x_panel">
                
                    <div class="x_content">
                        <table id="myTable" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TokenDetail.TokenNo)
                                </th>
                                <th>Category</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fees)
                                </th>


                            </tr>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count = count + item.Fees; 
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TokenDetail.TokenNo)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.TokenDetail.Token.CategoryFee.Category.CategoryName)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fees)
                                    </td>
                               </tr>    
                               }
                                <tr><td></td><td><b>Final Amount</b></td><td><b>@count</b></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="logo_icon"><img src="images/sepia-solutions-trp.png"></div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
