﻿@model IEnumerable<VehicleQueueApp.Models.BankChallan>

@{
    ViewBag.Title = "BankChallans";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    var mainvm = (VehicleQueueApp.Models.MainVM)ViewBag.MainVM;

}

<div class="_right_col" role="main">
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">BankChallans</h2>
                <div class="x_panel">
                    @using (Html.BeginForm("Index", "Report"))
                    {
                        <div class="x_content">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BankChallanId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DayId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ChallanNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ChallanDatetime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.isChallanSubmitedtoBank)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalAmount)
                                    </th>


                                    <th>
                                        @Html.DisplayName("Action")
                                    </th>
                                </tr>
                                    </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(q => mainvm.bankchallandetailvm[i].BankChallanId)
                                            @Html.CheckBoxFor(q => mainvm.bankchallandetailvm[i].IsPrint)
                                        </td>
                                        <td>
                                        @Html.DisplayFor(modelItem => item.BankChallanId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DayId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ChallanNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ChallanDatetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.isChallanSubmitedtoBank)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalAmount)
                                        </td>
                                          

                                        <td>
                                            @if (item.isChallanSubmitedtoBank == false)
                                            {
                                                <a href="#" class="bank-deposit-model" data-id="@item.BankChallanId">Upload Deposit Slip|</a>
                                                @Html.ActionLink("Download Report|", "ReportByChallanId", "Report", new { BankChallanId = item.BankChallanId }, null)
                                                @Html.ActionLink("BankChallan detail", "BankChallanDetail", "bankChallan", new { BankChallanId = item.BankChallanId }, null)

                                            }
                                            else
                                            {
                                                <a href="http://localhost:49594/Content/Upload/@item.DepositSlip">Deposit Slip|</a>
                                                @Html.ActionLink("BankChallan detail", "BankChallanDetail", "bankChallan", new { BankChallanId = item.BankChallanId }, null)

                                            }
                                            


                                        
                                        </td>

                                        <td></td>

                                    </tr>
                                        i = i + 1;
                                    }
                                </tbody>

                            </table>

                        </div>
                        <div class="form-group text-center no-margin">
                            <input type="submit" value="Submit" class="btn btn-primary margin-top"/>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 class="modal-title">Upload BankChallan File</h4>

                    </div>
                    <div class="modal-body">

                        <form id="myForm" action="@Url.Action("DepositToBank","bankChallan")" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" id="ChallanId" name="ChallanId" />
                                <input type="file" id="despoitFile" name="fileName" class="form-control padding" />
                            </div>
                            @*<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>*@
                            <input type="submit" value="Submit" class="btn btn-primary" id="btnSubmit" />


                        </form>
                        <div style="text-align:center;display:none" id="loaderDiv">
                            <img src="~/Content/InternetSlowdown_Day.gif" width="150" /> @* //put any image in content folder*@
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('.bank-deposit-model').on("click", function () {
            var data = $(this).data("id");
            $("#myModal").modal("show");
            $("#ChallanId").val(data);
        });
    });
</script>
