﻿@model IEnumerable<VehicleQueueApp.Models.Operation>

@{
    ViewBag.Title = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="_right_col" role="main">
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">Operations</h2>

                <div class="x_panel">

                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OperationId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OperationStartingDateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OperationEndingDateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalAmountinOperation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OpeartionClosed)
                                    </th>



                                    <th>
                                        @Html.DisplayNameFor(model => model.Shift.ShiftId)
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OperationId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OperationStartingDateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OperationEndingDateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalAmountinOperation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OpeartionClosed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Shift.ShiftId)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Tokens", "AllTokens", "Token", new { operationId = item.OperationId }, null)
                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

