﻿@model IEnumerable<VehicleQueueApp.Models.Shift>

@{
    ViewBag.Title = "Shifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="_right_col" role="main">
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">Shifts</h2>

                <div class="x_panel">
                    
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ShiftId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ShiftStartingDatetime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ShiftEndingDatetime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AmountToBeCollected)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ShiftClosed)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DayId)
                                    </th>


                                    <th>
                                        @Html.DisplayName("Actions")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShiftId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShiftStartingDatetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShiftEndingDatetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AmountToBeCollected)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShiftClosed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DayId)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Operations", "AllOperations", "Operation", new { shiftId=item.ShiftId }, null)

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="container">
        <div class="row">
            <div class="logo_icon"><img src="images/sepia-solutions-trp.png"></div>
        </div>
    </div>*@
</div>
<script>
    //$(document).ready(function () {
    //    $('#myTable').DataTable();
    //});
</script>
