﻿@model IEnumerable<VehicleQueueApp.Models.Shift>

@{
    ViewBag.Title = "Shifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shifts</h2>


<div class="_right_col" role="main">
    <div class="row padding padding-top row padding-bottom">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <div class="x_panel">
                    <div class="x_title">
                       
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="myTable" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShiftStartingDatetime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShiftEndingDatetime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AmountToBeCollected)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShiftClosed)
                                </th>




                                <th></th>
                            </tr>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShiftStartingDatetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShiftEndingDatetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AmountToBeCollected)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShiftClosed)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Tokens", "GetTokens", "Token", new { item.ShiftId }, null)

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="logo_icon"><img src="images/sepia-solutions-trp.png"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
