﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vehicle Management System | Sepia Solutions</title>

    <link href="~/Content/Vehicle/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Vehicle/vendors/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/Vehicle/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/Vehicle/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/Vehicle/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/SweetAlert/sweetalert.css" rel="stylesheet" />

    <link href="~/Content/Vehicle/style.css" rel="stylesheet" />
    <link href="~/Content/Vehicle/css/custom.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Vehicle/images/favicon-32x32.png">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Vehicle/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/Vehicle/vendors/nprogress/nprogress.js"></script>
    <script src="~/Content/Vehicle/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="~/Content/Vehicle/vendors/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/Vehicle/vendors/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    @RenderSection("Styles", false)



</head>
@section head {


}
<body class="nav-md dashboard-scr user-traning">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 non-printable left_col menu_fixed hidden-xs hidden-sm @(ViewBag.issidebar == true ? "" : "hide")">
                <div class="left_col scroll-view">
                    <div class="clearfix"></div>

                    @if (Auth.RoleId == 2)//Shift Manager login
                    {
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">

                                <ul class="nav side-menu">

                                    <li class="level0"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li class="level0"><a href="@Url.Action("AllDays", "Days")">Days</a></li>
                                    <li class="level0"><a href="@Url.Action("AllShifts", "Shift")">Shifts</a></li>
                                    <li class="level0"><a href="@Url.Action("AllOperations", "Operation")">Operations</a></li>
                                    <li class="level0"><a href="@Url.Action("AllTokens", "Token")">Tokens</a></li>
                                    <li class="level0"><a href="@Url.Action("BankChallans", "bankChallan")">BankChallans</a></li>
                                    <li class="level0"><a href="@Url.Action("TokenCancellationManager", "Token")">Manage token cancellation</a></li>
                                </ul>

                            </div>
                        </div>

                    }
                    else if (Auth.RoleId == 42)//operator login
                    {
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">

                                <ul class="nav side-menu">

                                    <li class="level0"><a href="@Url.Action("Index", "Token")">Token</a></li>

                                </ul>

                            </div>
                        </div>

                    }
                    else if (Auth.RoleId == 1)  //Admin Login
                    {
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">

                                <ul class="nav side-menu">

                                    <li class="level0"><a href="@Url.Action("Index", "Module")">Module</a></li>
                                    <li class="level0"><a href="@Url.Action("Index", "Group")">Roles</a></li>
                                    <li class="level0"><a href="@Url.Action("Index", "User")">Users</a></li>

                                </ul>

                            </div>
                        </div>
                    }

                </div>
            </div>

            <div class="main-top_nav non-printable">
                <div class="top_nav bd-bottom-red">
                    <div class="row">
                        <div class="col-md-3 nav_title logo col-xs-2 pull-left text-center">
                            <a href="@Url.Action("Index","Home")" class="site_title large-logo hidden-sm hidden-xs h4">
                                <img src="~/Content/Vehicle/images/pqa-logo.jpg">
                            </a>
                            <a href="@Url.Action("Index","Home")" class="site_title small-logo  hidden-md hidden-lg">
                                <img src="~/Content/Vehicle/images/pqa-logo.jpg">
                            </a>
                        </div>

                        <div class="col-md-9 setting-btn no-margin pull-right col-xs-10">
                            <!--<div class="f_icon pull-left hidden-xs hidden-sm"><img src="images/vehicle-logo3.png"></div>-->

                            <div class="setting-btn pull-right">
                                <ul class="nav navbar-nav no-margin">
                                    <li>
                                        <div class="toggle-on-off">

                                            @if (Auth.UserID > 0)
                                            {
                                                if (Auth.RoleId == 2)
                                                {
                                                    { Html.RenderAction("DayStatus", "Home"); }
                                                }
                                            }


                                        </div>
                                    </li>
                                    <li class="set-icon">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <div class="profile_info pull-left">
                                                <span>@ViewBag.UserName</span>

                                            </div>
                                            <div class="img_l pull-right">
                                                @if (Auth.UserID > 0)
                                                {
                                                  
                                                        { Html.RenderAction("ThumbnailImage", "User"); }
                                                   
                                                }
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu dropdown-usermenu pull-right">

                                            <li><a href="@Url.Action("Index","Home")" class="btn btn-link navbar-btn navbar-link"><i class="fa fa-tachometer pull-right" aria-hidden="true"></i>Dashboard</a></li>
                                            <li><a href="@Url.Action("ViewProfile","User")" class="btn btn-link navbar-btn navbar-link"><i class="fa fa-tachometer pull-right" aria-hidden="true"></i>View Profile</a></li>

                                            <li>
<li>

                                                <form action="@Url.Action("Logout","User")" method="post" id="logoutForm" class="navbar-right">
                                                    <button type="submit" value="Logout" class="btn btn-link navbar-btn navbar-link"><i class="fa fa-sign-out pull-right"></i>Logout</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div role="main" class="right_col @(ViewBag.issidebar == true ? "" : "no-margin")">
                @RenderBody()
                @*<div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tile-stats border-bottom-red high-box-inc">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <h5>Why do we use it?</h5>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

                        </div>
                    </div>*@
                <div class="container non-printable">
                    <div class="row">
                        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats">
                                <div class="logo_icon no-padding"><a href="http://sepiasolutions.com/" target="_blank"><img src="~/Content/Vehicle/images/sepia-solutions-trp.png"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Vehicle/js/canvasjs.min.js"></script>
    <script src="~/Content/SweetAlert/sweetalert.js"></script>
    <script src="~/Content/Vehicle/js/jQuery-Scanner-Detection-master/jquery.scannerdetection.compatibility.js"></script>
    <script src="~/Content/Vehicle/js/jQuery-Scanner-Detection-master/jquery.scannerdetection.js"></script>
    <script src="~/Content/Vehicle/js/custom-script.js"></script>
    <script src="~/Content/Vehicle/js/custom.js"></script>


</body>
</html>
