﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vehicle Management System | Sepia Solutions</title>
    <link href="~/Content/Vehicle/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Vehicle/style.css" rel="stylesheet" />
    <link href="~/Content/Vehicle/css/custom.css" rel="stylesheet" />
    <link href="~/Content/Vehicle/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Content/Vehicle/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/Vehicle/js/custom.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="top-sky-bg"></div>
        </div>
    </div>
    <section class="login-with-gmail">
        <div class="details-container">
            <div class="container container-percent">
                <div class="row text-center dis-table">
                    <div class="details">
                        @*<div class="mid-bg-area">
                            <div class="logo_icon btn-gmail-no-bg"><img src="~/Content/Vehicle/images/vehicle-logo3.png"></div>
                            <h4 class="text-left margin-bottom"><strong>Welcome,</strong> Please login</h4>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="input-size">
                                        <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                                        <div class="font_icon-top"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-size">
                                        <input type="password" id="password" placeholder="Password" class="form-control">
                                        <div class="font_icon-top"><i class="fa fa-lock" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-gmail bg-cst-blue">Sign Up</button>
                                </div>
                            </form>
                        </div>*@
                        @RenderBody();
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="logo_icon"><img src="~/Content/Vehicle/images/sepia-solutions-trp.png"></div>
            </div>
        </div>
    </footer>
    @*<script src="vendors/jquery/dist/jquery.min.js"></script>
        <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>*@
</body>
</html>


@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body class="login">
        <div id="container">
            <div id="wrapper">
                <!--Main Body -->

                <div class="row logo-row">
                    <div class="logo col">
                        <h1 class="headerLogo">
                            <a href="#">
                                <img src="@WebConfig.AppLogo" alt="@WebConstants.AppTitle" title="@WebConstants.AppTitle" />
                                <span>@WebConstants.AppTitle</span></a>
                        </h1>
                    </div>
                    <!-- Topbar -->

                    <div class="clearfix"></div>

                </div>
                <!-- row ends -->
                <!-- End Header Wrapper  -->


                <div class="login-wrapper">

                    <div class="row">
                        <div class="col title-row">
                            <h2 class="heading">@WebConstants.SystemName</h2>
                        </div>
                    </div>
                    <div class="row no-margin">
                        @if (!Html.ViewData.ModelState.IsValid)
                        {
                            @Html.ValidationSummary(false, "", new { @class = "error" })
                        }

                    </div>
                    <div class="login-cont">
                        @*<h4>@ViewBag.Title</h4>*@

@*<div class="credential">
                            @RenderBody()
                        </div>
                    </div>

                </div>

            </div>
            <!-- end #wrapper -->
            <!-- Footer Starts -->
            <div id="footer">
                <div class="footerCont">
                    <div class="clearfix"></div>
                    <div class="copyright">
                        <p>@Html.Raw(WebConstants.SystemFooter)</p>
                    </div>
                </div>

                <!--- fonter cont -->

            </div>
            <!-- end #footer -->

        </div>
        <!-- end #container -->
        <!-- </div> -->
        <noscript>
            <div class="no-script-msg">
                <strong>It appears that your browser has JavaScript disabled.</strong>
                <p>This Website requires your browser to be JavaScript enabled. Please follow the steps below to enable JavaScript.</p>
            </div>
        </noscript>
    </body>
    </html>*@*

