﻿@model VehicleQueueApp.Models.AppEmployee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit User";
}


@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.EmployeeID)
	@Html.HiddenFor(model => model.UserId)
	@Html.HiddenFor(model => model.AppUser.UserName)
	<table>
		<tr>
			<td>
				@Html.LabelFor(model => model.AppUser.UserName)
			</td>
			<td>
				@Html.DisplayFor(model => model.AppUser.UserName)
			</td>
			<td>
				@Html.LabelFor(model => model.AppUser.Password)
			</td>
			<td>
				@Html.EditorFor(model => model.AppUser.Password)
				@Html.ValidationMessageFor(model => model.AppUser.Password)
				<div class="small-info">Leave blank to Generate Random Password</div>
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.AppUser.RoleId, "Role")</td>
			<td>
				@Html.DropDownList("RoleId")
				@Html.ValidationMessageFor(model => model.AppUser.RoleId)
			</td>
            <td>@Html.LabelFor(model => model.Name)</td>
            <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
		</tr>
		<tr>
            <td>@Html.LabelFor(model => model.MobileNo)	</td>
			<td>
				@Html.EditorFor(model => model.MobileNo)
				@Html.ValidationMessageFor(model => model.MobileNo)
			</td>
            <td>@Html.LabelFor(model => model.Email)</td>
            <td>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
		</tr>
		<tr>
           	<td>@Html.LabelFor(model => model.PersonalEmail)</td>
			<td>
				@Html.EditorFor(model => model.PersonalEmail)
				@Html.ValidationMessageFor(model => model.PersonalEmail)
			</td>
            <td>@Html.LabelFor(model => model.TelNo)  </td>
            <td>
                @Html.EditorFor(model => model.TelNo)
                @Html.ValidationMessageFor(model => model.TelNo)
            </td>
		</tr>
		<tr>
            <td>@Html.LabelFor(model => model.TelNoHome) </td>
			<td>
				@Html.EditorFor(model => model.TelNoHome)
				@Html.ValidationMessageFor(model => model.TelNoHome)
			</td>
            <td>@Html.LabelFor(model => model.FaxNo) </td>
            <td>
                @Html.EditorFor(model => model.FaxNo)
                @Html.ValidationMessageFor(model => model.FaxNo)
            </td>
		</tr>
		<tr>
            <td>@Html.LabelFor(model => model.Designation)</td>
            <td>
                @Html.EditorFor(model => model.Designation)
                @Html.ValidationMessageFor(model => model.Designation)
            </td>
			<td>@Html.LabelFor(model => model.FaxNoHome) </td>
			<td>
				@Html.EditorFor(model => model.FaxNoHome)
				@Html.ValidationMessageFor(model => model.FaxNoHome)
			</td>
		</tr>
        <tr>
            <td>@Html.LabelFor(model => model.SkypeID)</td>
			<td>
				@Html.EditorFor(model => model.SkypeID)
				@Html.ValidationMessageFor(model => model.SkypeID)
			</td>
            <td>@Html.LabelFor(model => model.YahooID)</td>
            <td>
                @Html.EditorFor(model => model.YahooID)
                @Html.ValidationMessageFor(model => model.YahooID)
            </td>
		</tr>

		<tr>
			<td>@Html.LabelFor(model => model.BBMCode)</td>
			<td>
				@Html.EditorFor(model => model.BBMCode)
				@Html.ValidationMessageFor(model => model.BBMCode)
			</td>
            <td>@Html.Label("Salary")</td>
            <td>
                @Html.EditorFor(model => model.Salary)
                @Html.ValidationMessageFor(model => model.BBMCode)
            </td>
		</tr>

        <tr>
            <td>
                @Html.Label("CNIC Number")
            </td>
            <td>
                @Html.EditorFor(model => model.CNICNumber)
                @Html.ValidationMessageFor(model => model.CNICNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("CNIC Front")
            </td>
            <td>
                @Html.TextBoxFor(model => model.front, new { type = "file" })
                @Html.ValidationMessageFor(model => model.front)
            </td>
            <td>
                @Html.Label("CNIC Back")
            </td>
            <td>
                @Html.TextBoxFor(model => model.Back, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Back)
            </td>
        </tr>

		<tr>
			<td>@Html.LabelFor(model => model.Signature)</td>
			<td>
				@Html.TextAreaFor(model => model.Signature)
				@Html.ValidationMessageFor(model => model.Signature)
			</td>

			<td>@Html.LabelFor(model => model.Notes)</td>
			<td>
				@Html.TextAreaFor(model => model.Notes)
				@Html.ValidationMessageFor(model => model.Notes)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.isEmailSend) </td>
			<td>
				@Html.EditorFor(model => model.isEmailSend)
				@Html.ValidationMessageFor(model => model.isEmailSend)
			</td>
			<td>@Html.LabelFor(model => model.AppUser.isDisable) </td>
			<td>
				@Html.EditorFor(model => model.AppUser.isDisable)
				@Html.ValidationMessageFor(model => model.AppUser.isDisable)
			</td>
		</tr>
	</table>
	<div class="row">
		<div class="col">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>

}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
