﻿@model VehicleQueueApp.Models.AppEmployee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Profile";
}


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.EmployeeID)
	@Html.HiddenFor(model => model.AppUser.UserName)
	<table>
		<tr>
			<td>
				@Html.LabelFor(model => model.AppUser.UserName)
			</td>
			<td>
				@Html.DisplayFor(model => model.AppUser.UserName)
			</td>
			<td>
				@Html.LabelFor(model => model.AppUser.Password)
			</td>
			<td>
				@Html.EditorFor(model => model.AppUser.Password)
				@Html.ValidationMessageFor(model => model.AppUser.Password)
				<div class="small-info">Leave blank to Generate Random Password</div>
			</td>
		</tr>


		<tr>
			<td>@Html.LabelFor(model => model.Name)</td>
			<td>
				@Html.EditorFor(model => model.Name)
				@Html.ValidationMessageFor(model => model.Name)
			</td>

			<td>@Html.LabelFor(model => model.MobileNo)	</td>
			<td>
				@Html.EditorFor(model => model.MobileNo)
				@Html.ValidationMessageFor(model => model.MobileNo)
			</td>
		</tr>


		<tr>
			<td>@Html.LabelFor(model => model.Email)</td>
			<td>
				@Html.DisplayFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email)
			</td>

			<td>@Html.LabelFor(model => model.PersonalEmail)</td>
			<td>
				@Html.EditorFor(model => model.PersonalEmail)
				@Html.ValidationMessageFor(model => model.PersonalEmail)
			</td>
		</tr>



		<tr>
			<td>@Html.LabelFor(model => model.TelNo)  </td>
			<td>
				@Html.EditorFor(model => model.TelNo)
				@Html.ValidationMessageFor(model => model.TelNo)
			</td>

			<td>@Html.LabelFor(model => model.TelNoHome) </td>
			<td>
				@Html.EditorFor(model => model.TelNoHome)
				@Html.ValidationMessageFor(model => model.TelNoHome)
			</td>
		</tr>



		<tr>
			<td>@Html.LabelFor(model => model.FaxNo) </td>
			<td>
				@Html.EditorFor(model => model.FaxNo)
				@Html.ValidationMessageFor(model => model.FaxNo)
			</td>
			<td>@Html.LabelFor(model => model.FaxNoHome) </td>
			<td>
				@Html.EditorFor(model => model.FaxNoHome)
				@Html.ValidationMessageFor(model => model.FaxNoHome)
			</td>
		</tr>



		<tr>
			<td>@Html.LabelFor(model => model.DepartmentId, "Department")</td>
			<td>
				@Html.DropDownList("DepartmentId")
				@Html.ValidationMessageFor(model => model.DepartmentId)
			</td>

			<td>@Html.LabelFor(model => model.Designation)</td>
			<td>
				@Html.EditorFor(model => model.Designation)
				@Html.ValidationMessageFor(model => model.Designation)
			</td>
		</tr>



		<tr>
			<td>@Html.LabelFor(model => model.YahooID)</td>
			<td>
				@Html.EditorFor(model => model.YahooID)
				@Html.ValidationMessageFor(model => model.YahooID)
			</td>

			<td>@Html.LabelFor(model => model.SkypeID)</td>
			<td>
				@Html.EditorFor(model => model.SkypeID)
				@Html.ValidationMessageFor(model => model.SkypeID)
			</td>
		</tr>

		<tr>
			<td>@Html.LabelFor(model => model.BBMCode)</td>
			<td>
				@Html.EditorFor(model => model.BBMCode)
				@Html.ValidationMessageFor(model => model.BBMCode)
			</td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td>@Html.LabelFor(model => model.Signature)</td>
			<td>
				@Html.TextAreaFor(model => model.Signature)
				@Html.ValidationMessageFor(model => model.Signature)
			</td>

			<td></td>
			<td></td>
		</tr>
	</table>
	<div class="row">
		<div class="col">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>

}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
