﻿@model IEnumerable<VehicleQueueApp.Models.AppEmployee>

@{
    ViewBag.Title = "User Management";
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: WebConstants.PagingSize, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid-content");
    grid.Pager(WebGridPagerModes.NextPrevious);
}

<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats padding-half text-center">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary padding-top padding-bottom" })
        </div>
    </div>
</div>

<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <div id="grid-content">
                @if (Model.Count() > 0)
                {
                    @grid.GetHtml(tableStyle: "content-table grid table table-striped table-bordered",
            headerStyle: "grid-header",
            footerStyle: "grid-footer",
            alternatingRowStyle: "alt-row",
            selectedRowStyle: "select-row",
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "Prev",
            nextText: "Next",
            lastText: "Last >>",

            columns: grid.Columns(
            grid.Column("UserName", header: "Username", format: (model => model.AppUser.UserName)),
            grid.Column("Name", header: "Full Name"),
            grid.Column("AppUser.AppRole.RoleName", header: "Group"),
            grid.Column("Email", header: "Email"),
            grid.Column("MobileNo", header: "Mobile"),
            grid.Column("Designation", header: "Designation"),
            grid.Column("", header: "Actions", style: "grid-actions", format: @<text>
                @Html.ActionLink("Profile", "ViewProfile", new { id = item.UserId }, new { @class = "grid-view btn-primary" })
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeGUID }, new { @class = "grid-edit btn-dark" })
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "grid-delete delete-link btn-danger" })
            </text>
 )))
                }
                else
                {
                    <div class="no-record">No Record Found</div>
                }

            </div>
        </div>
    </div>
</div>
