﻿@model VehicleQueueApp.Models.LoginViewModel
@{
	Layout = "~/Views/Shared/_Login.cshtml";
	ViewBag.Title = "User Login";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="mid-bg-area col-md-4">
    <div class="logo_icon btn-gmail-no-bg"><img src="~/Content/Vehicle/images/pqa-logo.jpg"></div>
    <h4 class="text-left margin-bottom"><strong>Welcome,</strong> Please login</h4>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="input-size">
                @Html.TextBoxFor(model => model.UserName, new { placeholder = "Username", @class = "txt-username form-control" })
                <div class="font_icon-top"><i class="fa fa-user" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-size">
                @*@Html.EditorFor(model => model.Password, new {placeholder = "Password", @class = "txt-password form-control" })*@
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "txt-password form-control" })
                @*@Html.ValidationMessageFor(model => model.Password)*@


                <div class="font_icon-top"><i class="fa fa-lock" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Sign In" id="submit" name="submit" class="btn btn-gmail bg-cst-blue" />
        </div>
    </form>
</div>
}
@*<div class="login-form">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<div class="row">
			<div class="col">
				@Html.LabelFor(model => model.UserName, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.UserName, new { @class = "txt-username " })
				@Html.ValidationMessageFor(model => model.UserName)
			</div>
		</div>
		<div class="row">
			<div class="col">
				@Html.LabelFor(model => model.Password, new { @class = "control-label" })
				@Html.EditorFor(model => model.Password, new { @class = "txt-password " })
				@Html.ValidationMessageFor(model => model.Password)
			</div>
		</div>
		if (Model.ShowCaptcha)
		{
			<div class="row">
				<div class="col captcha">
					Type the characters you see in the picture<br />
					@Html.LabelFor(model => model.Captcha, new { @class = "control-label" })
					@Html.EditorFor(model => model.Captcha)
					@Html.ValidationMessageFor(model => model.Captcha)
					<img id="CaptchaImg" src="/home/captcha" alt="Unable to Read? Click to refresh and get new verification image!" />
					@Html.ValidationMessage("Captcha")
				</div>
			</div>
		}
		<div class="row submit-row">

			<div class="col">
				<input type="submit" value="Sign In" id="submit" name="submit" class="btn-login" />
			</div>

			<div class="col-6">
				<div class="checkbox">
					@Html.EditorFor(model => model.isRemember)
					@Html.LabelFor(model => model.isRemember, new { @class = "control-label" })
				</div>
			</div>
			<div class="col-5 txt-right">
				<a href="/User/Forgot">Forgot Password?</a>
			</div>
		</div>
	}
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('#CaptchaImg').click(function () {
			$(this).attr('src', function () {
				var d = new Date();
				return this.src + '?' + d.getTime();
			});
			return false;

		});
	});
</script>*@

