﻿@if (ViewBag.Thumb != null)
{
    <img src="@ViewBag.Thumb" alt="..." class="img-circle">
    <span class="fa fa-angle-down"></span>
}
else
{
    <img src="~/Content/Vehicle/images/white-profile.png" alt="..." class="img-circle">
    <span class="fa fa-angle-down"></span>
}

