﻿@{
	Layout = null;
}
<form id="myForm" action="@Url.Action("UploadPicture","User")" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" class="file-upload" name="Profile" id="Profile" />
        <input type="hidden" name="userId" value="@Auth.UserID" id="userId" />
        <input type="submit" id="submit" value="Upload" class="btn-primary" />
    </div>
    <div class="info">
        <strong>Allowed:</strong> <span class="small-info">@WebConstants.UserProfileExtensions.Replace(",", ", ")</span>
        <strong>Max File Size:</strong> <span class="small-info">@WebConstants.UserProfileImageFileSize KB</span>
    </div>
</form>
