﻿@model VehicleQueueApp.Models.AppEmployee

@{
    ViewBag.Title = "User Profile";
}
<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <h2>User Profile</h2>
            <div class="row padding-bottom">
                <div class="padding-left profile-pic profile_img pull-left">
                    
                    <img src="@ViewBag.Thumb" alt="" width="180" height="180" />
                    @if (Auth.UserID==Model.UserId)
                    {
                        Html.RenderPartial("UploadPicture");
                    }
                </div>
                <div class="col-xs-6 col-sm-6">
                    <h4><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;@Html.DisplayFor(model => model.Name)</h4>
                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;@Html.DisplayFor(model => model.AppUser.UserName)</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;@Html.DisplayFor(model => model.Email)></li>
                        <li><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;@Html.DisplayFor(model => model.MobileNo)</li>
                        <li><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;@Html.DisplayFor(model => model.TelNo)</li>
                    </ul>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_content">
                    <table id="myTable" class="table table-striped table-bordered">

                        <tr>
                            <td>@Html.LabelFor(model => model.PersonalEmail)</td>
                            <td>
                                @Html.DisplayFor(model => model.PersonalEmail)
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Salary)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Salary)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Label("CNIC Number")
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CNICNumber)
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                       

                        <tr>
                            <td>@Html.LabelFor(model => model.TelNoHome) </td>
                            <td>
                                @Html.DisplayFor(model => model.TelNoHome)
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.FaxNo) </td>
                            <td>
                                @Html.DisplayFor(model => model.FaxNo)
                            </td>
                            <td>@Html.LabelFor(model => model.FaxNoHome) </td>
                            <td>
                                @Html.DisplayFor(model => model.FaxNoHome)
                            </td>
                        </tr>



                        <tr>


                            <td>@Html.LabelFor(model => model.Designation)</td>
                            <td>
                                @Html.DisplayFor(model => model.Designation)
                            </td>
                            <td>@Html.LabelFor(model => model.YahooID)</td>
                            <td>
                                @Html.DisplayFor(model => model.YahooID)
                            </td>
                        </tr>



                        <tr>


                            <td>@Html.LabelFor(model => model.SkypeID)</td>
                            <td>
                                @Html.DisplayFor(model => model.SkypeID)
                            </td>
                            <td>@Html.LabelFor(model => model.BBMCode)</td>
                            <td>
                                @Html.DisplayFor(model => model.BBMCode)
                            </td>
                        </tr>



                        <tr>
                            <td>@Html.LabelFor(model => model.Signature)</td>
                            <td>
                                @Html.Raw(Model.Signature)
                            </td>

                            <td>@Html.LabelFor(model => model.Notes)</td>
                            <td>@Html.Raw(Model.Notes)</td>
                        </tr>
                    </table>

                    @*@if (Auth.UserID == Model.UserId)
                    {
                        ActivityLogHelper.Show("User", true, Model.UserId);
                    }*@
                </div>
            </div>
            <div class="margin-bottom">

                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
</div>
