﻿


<ul class="nav navbar-nav">
    @if (Auth.RoleId != 1)
    {
        if (ViewBag.isDayOpen)
        {

            //using (Html.BeginForm("StartDay", "Home", FormMethod.Post))
            //{

    <li>
        <button type="submit" value="Start Day" name="btnStart" id="btnStart" class="btn btn-sm btn-toggle-left active">
            <div class="handle"></div>
        </button>
    </li>

            //}
        }

        else
        {
            //using (Html.BeginForm("CloseDay", "Home", FormMethod.Post))
            //{
        <li class="margin-half-right">
            <button type="submit" value="Close Day" name="btnEnd" id="btnEnd" class="btn btn-sm btn-toggle-left">
                <div class="handle"></div>
            </button>
        </li>

            @*}*@

            // close mein koi na koi shift chal rahi hai
            if (ViewBag.ShiftStatus == "1")
            {

                //using (Html.BeginForm("StartShift", "Home", FormMethod.Post))
                //{
                <li>
                    <button type="submit" value="Start Shift" name="btnStartShift" id="btnStartShift" class="btn btn-sm btn-toggle active">
                        <div class="handle"></div>
                    </button>
                </li>

                //}

            }
            else if (ViewBag.ShiftStatus == "0")
            {

                //using (Html.BeginForm("ShiftClose", "Home", FormMethod.Post))
                //{
                <li class="margin-half-right">
                    <button type="submit" value="Close Shift" name="btnCloseShift" id="btnCloseShift" class="btn btn-sm btn-toggle">
                        <div class="handle"></div>
                    </button>
                </li>
                //}

            }
        }
    }
</ul>
<script type="text/javascript">
    $("#btnStart").click(function () {


        swal({
            title: "Are you sure?",
            text: "you want to start the day?",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-info",
            confirmButtonText: "Yes, start it!",
            cancelButtonText: "Cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
  function (isConfirm) {
      if (isConfirm) {
          $.ajax({
              url: "@Url.Action("StartDay", "Home")",
              type: "post",
          contentType: "application/json",
          success: function (datas) {
              window.location = '/Home/Index?isDayOpen=True/';

          }
      });
          swal("Started!");
      } else {
          swal("Cancelled");
          window.location = '/Home/Index?isDayOpen=False/';
      }
  });
    });


    $("#btnEnd").click(function () {



        swal({
            title: "Are you sure?",
            text: "you want to close the day?",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-info",
            confirmButtonText: "Yes, close it!",
            cancelButtonText: "Cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
  function (isConfirm) {
      if (isConfirm) {
          $.ajax({
              url: "@Url.Action("CloseDay", "Home")",
              type: "post",
          contentType: "application/json",
          success: function (datas) {
              window.location = '/Home/Index?isdayClose=True/';

          }
      });
      swal("CLosed!");
  } else {
          swal("Cancelled");
          window.location = '/Home/Index?isdayClose=False/';
    }
        });
    });
    $("#btnStartShift").click(function () {


        swal({
            title: "Are you sure?",
            text: "you want to start the shift?",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-info",
            confirmButtonText: "Yes, start it!",
            cancelButtonText: "Cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
  function (isConfirm) {
      if (isConfirm) {
          $.ajax({
              url: "@Url.Action("StartShift", "Home")",
              type: "post",
          contentType: "application/json",
          success: function (datas) {
              window.location = '/Home/Index';

          }
      });
      swal("Started!");
  } else {
         swal("Cancelled");
         window.location = '/Home/Index';
    }
    });
    });
    $("#btnCloseShift").click(function () {


        swal({
            title: "Are you sure?",
            text: "you want to close the shift?",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-info",
            confirmButtonText: "Yes, start it!",
            cancelButtonText: "Cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
  function (isConfirm) {
      if (isConfirm) {
          $.ajax({
              url: "@Url.Action("ShiftClose", "Home")",
              type: "post",
          contentType: "application/json",
          success: function (datas) {
              window.location = '/Home/TokenShiftAmount';

          }
      });
      swal("Started!");
  } else {
       swal("Cancelled");
        window.location = '/Home/Index';
    }
    });
    });
</script>