﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="_right_col" role="main">
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile-stats">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <span class="count_top"><i class="fa fa-user"></i> Total Tokens Generated</span>
                        <div class="count">@ViewBag.TotalTokens</div>
                        <span class="count_bottom"><i class="blue"> </i> Today</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile-stats">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <span class="count_top"><i class="fa fa-user"></i> Total Income</span>
                        <div class="count blue">@ViewBag.TotalIncome</div>
                        <span class="count_bottom"><i class="blue"></i> Today's Income</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile-stats">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <span class="count_top"><i class="fa fa-user"></i> Total Cancel tickets amount</span>
                        <div class="count">@ViewBag.TotalTokenCancelAmount</div>
                        <span class="count_bottom"><i class="blue"></i>Todays Token cancel collection</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile-stats">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <span class="count_top"><i class="fa fa-user"></i> Total Non Commercial collection</span>
                        <div class="count">@ViewBag.TotalNonCommercialAmount</div>
                        <span class="count_bottom"><i class="blue"></i>Todays Token cancel collection</span>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <div class="row text-center">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile-stats">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <span class="count_top"><i class="fa fa-clock-o"></i>Total MotorCycle Collection</span>
                        <div class="count">@ViewBag.TotalMotorCycleIncome</div>
                        <span class="count_bottom"><i class="blue"></i> Todays MotorCycle Collection</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile-stats">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <span class="count_top"><i class="fa fa-user"></i> Total Individual Collection</span>
                        <div class="count">@ViewBag.TotalIndividualIncome</div>
                        <span class="count_bottom"><i class="red"></i> Todays Individual Collection</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile-stats">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <span class="count_top"><i class="fa fa-user"></i> Total Truck Collection</span>
                        <div class="count">@ViewBag.TotalTruckIncome</div>
                        <span class="count_bottom"><i class="blue"></i> Todays Truck Collection</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile-stats">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <span class="count_top"><i class="fa fa-user"></i> Total Commecial vehicle collection</span>
                        <div class="count">@ViewBag.TotalCarIncome</div>
                        <span class="count_bottom"><i class="blue"></i>Todays Car Collection</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="animated flipInY col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats high-box-inc-last">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <div class="x_panel no-margin">
                            <h4 class="no-margin text-center blue">Total Tickets Collection</h4>
                            <div class="x_content padding-half">
                                <table class="" style="width:100%">
                                    <tr>
                                        <th style="width:37%;">
                                        </th>
                                        <th>
                                            <div class="row">
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                    <p class="">Tickets Amount</p>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                    <p class="">Tickets&nbsp;Issued</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="ChartContainer" class="chartcontainer" height="200" width="200"></div>
                                        </td>
                                        <td>
                                            <table class="tile_info">
                                                @if (ViewBag.categoryFee != null)
                                                {

                                                    foreach (var item in (List<VehicleQueueApp.Models.TotalCollectionVM>)ViewBag.categoryFee)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <p><i class="fa fa-square @item.ClassName"></i>@item.TicketFeesint</p>
                                                            </td>
                                                            <td>@item.TicketIssued</td>
                                                        </tr>

                                                    }
                                                }
                                                <tr></tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="animated flipInY col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats high-box-inc-last">
                <div class="dply-cnt high-box-inc">
                    <div class="dply">
                        <div class="x_panel no-margin">
                            <h4 class="no-margin text-center blue">Total Income</h4>
                            <div class="x_content padding-half">
                                <table class="" style="width:100%">
                                    <tr>
                                        <th style="width:37%;">
                                        </th>
                                        <th>
                                            <div class="row">
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                    <p class="">Tickets Amount</p>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                    <p class="">Collection</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="chartContainer1" class="chartcontainer" height="200" width="200"></div>
                                        </td>
                                        <td>
                                            <table class="tile_info">
                                                @if (ViewBag.categoryFee != null)
                                                {

                                                    foreach (var item in (List<VehicleQueueApp.Models.TotalCollectionVM>)ViewBag.categoryFee)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <p><i class="fa fa-square @item.ClassName"></i>@item.TicketFeesint</p>
                                                            </td>
                                                            <td>@item.Amountpercategoryint</td>
                                                        </tr>

                                                    }
                                                }

                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="animated flipInY col-md-4 col-sm-3 col-xs-6">
                <div class="tile-stats">
                    <div class="dply-cnt high-box-inc">
                        <div class="dply">
                            <div class="col-xs-4 col-sm-4">
                                <div class="progress-round" id="graph-n" data-percent="45"></div>
                            </div>
                            <div class="col-xs-8 col-sm-8">
                                <div class="dply-cnt high-box-inc">
                                    <div class="dply">
                                        <span class="h4">Token Cancel Amount</span>
                                        <span class="h4"></span>
                                        <p>@ViewBag.TotalTokenCancelAmount</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>