﻿
@{
    ViewBag.Title = "TokenShiftAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats no-padding">
            <h2 class="text-center no-margin">Total Shift Amount</h2>
        </div>
        <div class="tile-stats padding-half">
            @*<div class="col-md-offset-3 col-xs-5 col-sm-5">*@
                <div class="greenbg col-pr greenbg col-pr padding-top padding-bottom">
                    <span class="bd-right padding-right">Shift Amount</span>
                    <span class="padding-left">@ViewBag.shiftAmount</span>
                </div>

            @*</div>*@
        </div>
    </div>
</div>
