﻿@model IEnumerable<VehicleQueueApp.Models.Shift>

@{
    ViewBag.Title = "DayAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats no-padding">
            <h2 class="text-center no-margin">Total Day Amount</h2>
        </div>
        <div class="tile-stats padding-half">
            @*<div class="col-md-offset-3 col-xs-5 col-sm-5">*@
                <div class="greenbg col-pr greenbg col-pr padding-top padding-bottom">
                    <span class="bd-right padding-right">Final Amount</span>
                    <span class="padding-left">@ViewBag.dayAmount</span>
                </div>

            @*</div>*@
        </div>
    </div>
</div>


<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <div class="x_panel">
                <div class="x_title">

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="myTable" class="table table-striped table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ShiftStartingDatetime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShiftEndingDatetime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AmountToBeCollected)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShiftStartingDatetime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShiftEndingDatetime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AmountToBeCollected)
                                </td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
