﻿@model IEnumerable<VehicleQueueApp.Models.CategoryFee>

@{
    ViewBag.Title = "CategoryFees";
}

<h2>CategoryFees</h2>

<p>
    @Html.ActionLink("Create New", "CreateCategoryFees")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
      
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveDate)
        </td>
       
      
        <td>
            @Html.ActionLink("Edit", "EditCategoryFee", new { id=item.CategoryFeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryFeeId }) |
            @Html.ActionLink("Delete", "deleteCategoryFee", new { id=item.CategoryFeeId })
        </td>
    </tr>
}

</table>
