﻿@model IEnumerable<VehicleQueueApp.Models.Token>

@{
    ViewBag.Title = "Tokens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="_right_col" role="main">
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">Tokens</h2>

                <div class="x_panel">                 
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Category
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.IssueDateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VehiclePlateNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TokenNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Noofpassengers)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.IsClosed)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Operation.OperationId)
                                    </th>
                                    <th>
                                        @Html.Display("Action")
                                    </th>


                                </tr>
                            </thead>
<tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryFee.Category.CategoryName)
                                        </td>
                                      

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IssueDateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehiclePlateNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TokenNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Noofpassengers)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsClosed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Operation.OperationId)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Token Details", "GetTokenDetail", "Token", new { tokenid=item.TokenId }, null)
                                        </td>



                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $('#myTable').DataTable();
    //});
</script>