﻿@model IEnumerable<VehicleQueueApp.Models.Token>

@{
    ViewBag.Title = "generateToken";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="main_container tkn-details">
    @foreach (var item in Model)   // this loop will always run 1 time as it is the individual token
    {
        var drivername = item.TokenDetails.FirstOrDefault(t => t.IsDriver == true).Name;
        int categoryid = item.CategoryFee.Category.CategoryId;
        foreach (var subitem in item.TokenDetails) // this loop will run on the no of token details
        {
            if (subitem.IsDriver)
            {

                <div class="row non-printable">
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tile-stats">
                            <div class="col-xs-8 h2">Token Detail</div>
                            <div class="col-xs-4 text-right">
                                <input type="button" value="Print" onclick="printtickets()" class="btn btn-xs btn-primary padding-half" />
                                <div class="print-btn pull-right padding-half">@Html.ActionLink("Back", "Index", "Token")</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row center-tickets printable">
                    <div class="vehicle-tickets-issue col-md-6">
                        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats">
                                <div class="col-xs-4 col-sm-4 no-padding">
                                    <img src="~/Content/Vehicle/images/pqa-icon.png">
                                </div>
                                <div class="col-xs-8 col-sm-8 logo-tickets no-padding">
                                    <h2 class="text-right h4 no-margin">ENTRY&nbsp;TOKEN</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div class="print-inner-content row">
                                    <div class="col-xs-12 col-sm-12 text-center">
                                        <h3 class="token-title">@item.TokenNo</h3>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 margin-half-bottom">
                                        <div class="h4"><strong>RS: @item.CategoryFee.Fees</strong></div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 margin-half-bottom">
                                        <div class="h5">@item.CategoryFee.Category.Narration</div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Time of Issue:</h6>
                                        <span>@item.IssueDateTime</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Valid Until:</h6>
                                        <span>@item.TokenValidity</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Name:</h6>
                                        <span>@drivername</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Vehicle No:</h6>
                                        <span>@item.VehiclePlateNo</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        @if (item.PurposeOfVisit1 != null)
                                        {
                                            <h6>Purpose Of Visit:</h6>
                                            <span>@item.PurposeOfVisit1.PurposeOfVIsit1</span>
                                        }
                                        else
                                        {
                                            <h6>Purpose Of Visit:</h6>
                                            <br />
                                        }
                                    </div>

                                    <div class="col-xs-6 col-sm-6">
                                        @if (item.PlaceOfVisit != null)
                                        {
                                            <h6>Place Of Visit:</h6>
                                            <span>@item.PlaceOfVisit.PlaceOfVisit1</span>
                                        }
                                        else
                                        {
                                            <h6>Place Of Visit:</h6>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Operator:</h6>
                                        <span>@Auth.UserName</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Tracking ID:</h6>
                                        <span>@item.TokenDetails.FirstOrDefault().TokenId</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="bar-code col-xs-12 col-sm-12 margin-half-top no-padding">
                                    <img src="~/Content/Vehicle/images/bar-code-tickets.png">
                                </div>
                                <div class="col-xs-12 col-sm-12 margin-half-top no-padding-top text-center">
                                    System by <img src="~/Content/Vehicle/images/sepiasolutions-icon.png" alt="" style="display: inline-block;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vehicle-tickets-issue col-md-6">
                        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats">
                                <div class="col-xs-4 col-sm-4 no-padding">
                                    <img src="~/Content/Vehicle/images/pqa-icon.png">
                                </div>
                                <div class="col-xs-8 col-sm-8 logo-tickets no-padding">
                                    <h2 class="text-right h4 no-margin">ENTRY&nbsp;TOKEN</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div class="print-inner-content row">
                                    <div class="col-xs-12 col-sm-12 text-center">
                                        <h3 class="token-title">@item.TokenNo</h3>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 margin-half-bottom">
                                        <div class="h4"><strong>RS: @item.CategoryFee.Fees</strong></div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 margin-half-bottom">
                                        <div class="h5">@item.CategoryFee.Category.Narration</div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Time of Issue:</h6>
                                        <span>@item.IssueDateTime</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Valid Until:</h6>
                                        <span>@item.TokenValidity</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Name:</h6>
                                        <span>@drivername</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Vehicle No:</h6>
                                        <span>@item.VehiclePlateNo</span>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="col-xs-6 col-sm-6">
                                        @if (item.PurposeOfVisit1 != null)
                                        {
                                            <h6>Purpose Of Visit:</h6>
                                            <span>@item.PurposeOfVisit1.PurposeOfVIsit1</span>
                                        }
                                        else
                                        {
                                            <h6>Purpose Of Visit:</h6>
                                            <br />
                                        }
                                    </div>

                                    <div class="col-xs-6 col-sm-6">
                                        @if (item.PlaceOfVisit != null)
                                        {
                                            <h6>Place Of Visit:</h6>
                                            <span>@item.PlaceOfVisit.PlaceOfVisit1</span>
                                        }
                                        else
                                        {
                                            <h6>Place Of Visit:</h6>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Operator:</h6>
                                        <span>@Auth.UserName</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Tracking ID:</h6>
                                        <span>@item.TokenDetails.FirstOrDefault().TokenId</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="bar-code col-xs-12 col-sm-12 margin-half-top no-padding">
                                    <img src="~/Content/Vehicle/images/bar-code-tickets.png">
                                </div>
                                <div class="col-xs-12 col-sm-12 margin-half-top no-padding-top text-center">
                                    System by <img src="~/Content/Vehicle/images/sepiasolutions-icon.png" alt="" style="display: inline-block;">
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            }
            else
            {
                <div class="row center-tickets printable">
                    <div class="vehicle-tickets-issue col-md-6">
                        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats">
                                <div class="col-xs-4 col-sm-4 no-padding">
                                    <img src="~/Content/Vehicle/images/pqa-icon.png">
                                </div>
                                <div class="col-xs-8 col-sm-8 logo-tickets no-padding">
                                    <h2 class="text-right h4 no-margin">ENTRY&nbsp;TOKEN</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div class="print-inner-content row">
                                    <div class="col-xs-12 col-sm-12 text-center">
                                        <h3 class="token-title">@subitem.TokenNo</h3>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 margin-half-bottom">
                                        <div class="h4"><strong>RS: @subitem.Fees</strong></div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 margin-half-bottom">
                                        <div class="h5">@ViewBag.IndividualNarration</div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Time of Issue:</h6>
                                        <span>@item.IssueDateTime</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Valid Until:</h6>
                                        <span>@item.TokenValidity</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Name:</h6>
                                        <span>@subitem.Name</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Vehicle No:</h6>
                                        <span>@item.VehiclePlateNo</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        @if (item.PurposeOfVisit1 != null)
                                        {
                                            <h6>Purpose Of Visit:</h6>
                                            <span>@item.PurposeOfVisit1.PurposeOfVIsit1</span>
                                        }
                                        else
                                        {
                                            <h6>Purpose Of Visit:</h6>
                                        }
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        @if (item.PlaceOfVisit != null)
                                        {
                                            <h6>Place Of Visit:</h6>
                                            <span>@item.PlaceOfVisit.PlaceOfVisit1</span>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Operator:</h6>
                                        <span>@Auth.UserName</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Tracking ID:</h6>
                                        <span>@subitem.TokenDetailsId</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="bar-code col-xs-12 col-sm-12 margin-half-top no-padding">
                                    <img src="~/Content/Vehicle/images/bar-code-tickets.png">
                                </div>
                                <div class="col-xs-12 col-sm-12 margin-half-top no-padding-top text-center">
                                    System by <img src="~/Content/Vehicle/images/sepiasolutions-icon.png" alt="" style="display: inline-block;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vehicle-tickets-issue col-md-6">
                        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats">
                                <div class="col-xs-4 col-sm-4 no-padding">
                                    <img src="~/Content/Vehicle/images/pqa-icon.png">
                                </div>
                                <div class="col-xs-8 col-sm-8 logo-tickets no-padding">
                                    <h2 class="text-right h4 no-margin">ENTRY&nbsp;TOKEN</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div class="print-inner-content row">
                                    <div class="col-xs-12 col-sm-12 text-center">
                                        <h3 class="token-title">@subitem.TokenNo</h3>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 margin-half-bottom">
                                        <div class="h4"><strong>RS: @subitem.Fees</strong></div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 margin-half-bottom">
                                        <div class="h5">@ViewBag.IndividualNarration</div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Time of Issue:</h6>
                                        <span>@item.IssueDateTime</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Valid Until:</h6>
                                        <span>@item.TokenValidity</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Name:</h6>
                                        <span>@subitem.Name</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Vehicle No:</h6>
                                        <span>@item.VehiclePlateNo</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        @if (item.PurposeOfVisit1 != null)
                                        {
                                            <h6>Purpose Of Visit:</h6>
                                            <span>@item.PurposeOfVisit1.PurposeOfVIsit1</span>
                                        }
                                        else
                                        {
                                            <h6>Purpose Of Visit:</h6>
                                        }
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        @if (item.PurposeOfVisit1 != null)
                                        {
                                            <h6>Place Of Visit:</h6>
                                            <span>@item.PlaceOfVisit.PlaceOfVisit1</span>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Operator:</h6>
                                        <span>@Auth.UserName</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <h6>Tracking ID:</h6>
                                        <span>@subitem.TokenDetailsId</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="bar-code col-xs-12 col-sm-12 margin-half-top no-padding">
                                    <img src="~/Content/Vehicle/images/bar-code-tickets.png">
                                </div>
                                <div class="col-xs-12 col-sm-12 margin-half-top no-padding-top text-center">
                                    System by <img src="~/Content/Vehicle/images/sepiasolutions-icon.png" alt="" style="display: inline-block;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        }

    }
                </div>
