﻿@model IEnumerable<VehicleQueueApp.Models.TokenDetail>

@{
    ViewBag.Title = "TokenDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="_right_col" role="main">
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">Token Detail</h2>

                <div class="x_panel">
                    <div class="x_title">
                     
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="myTable" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TokenNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NIC)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsDriver)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fees)
                                </th>
                               
                            </tr>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TokenNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NIC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsDriver)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fees)
                                        </td>
                                        

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
