﻿@model VehicleQueueApp.Models.Token

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main">

    @using (Html.BeginForm())
    {
      
        <div class="row">
         
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats no-padding">
                    <div class="row">
                     
                        <div class="col-xs-3 col-sm-3 pull-right ">
                            @if (ViewBag.operationButonVisible == true)//jab operation khatam hoga to ye cheez invisible ho jaye gi :)
                            {
                                <div id="tokenamount" class="greenbg col-pr">
                                    <span class="bd-right padding-right">Total Collection</span>
                                    <span class="padding-left">@ViewBag.livetokenAmount</span>
                                </div>

                            }
                        </div>
                        <ul class="breadcrumbn col-xs-9 col-sm-9 pull-left">
                            <li>@Html.ActionLink("My Operations", "MyOperations", "Token")</li>
                            <li>@Html.ActionLink("Manage Token Cancellation", "TokenCancel", "Token")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats no-margin-bottom">
                    <h2 class="text-center no-margin-top">Tokens</h2>
                    @Html.ValidationSummary(false)
                    <div class="custom-radios">

                        @*<div class="col-md-1"></div>*@
                        
                        @if (ViewBag.lowerDiv==true)
                        {
                            foreach (var item in ((IEnumerable<VehicleQueueApp.Models.Category>)ViewBag.getAllCategory))
                            {

                            <div class="col-md-2">
                                <div class="price-tickets-box @item.CategoryFees.FirstOrDefault().BoxClass">
                                    <div class="tickets-price @item.CategoryFees.FirstOrDefault().BoxClass">RS: @item.CategoryFees.FirstOrDefault().Fees</div>
                                    <div class="tickets-price @item.CategoryFees.FirstOrDefault().BoxClass">@item.CategoryName <br /> @item.Narration</div>
                                    <input type="radio" id="@item.CategoryId" name="CategoryId" value="@item.CategoryId">
                                    <label for="@item.CategoryId">
                                        <span>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats">
                    <div id="displayname"></div>
                    <div class="animated flipInY col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
                        <div class="tile-stats text-center">

                            @if (ViewBag.Message == null)
                            {
                            if (ViewBag.operationButonVisible == false )
                            {
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <input type="button" value="Start Operation" id="btnStartOperation" class="btn btn-primary margin-half-top" />
                            }
                            else if (ViewBag.operationButonVisible == true)
                            {
                            <input type="button" value="Close Operation" id="btnCloseOperation" class="btn btn-danger margin-half-bottom fix-top" />
                            @*<div class="form-group margin-bottom">
                                    <div class="form-control">
                                        @Html.DropDownList("CategoryId", ViewBag.Category as SelectList, "Select Category")
                                    </div>
                                </div>*@

                            }
                            }
                            else
                            {
                            <p>@ViewBag.Message</p>
                            }
                         @if (ViewBag.lowerDiv == true)
                         {
                                <div id="div2">
                                    <div class="form-group col-md-6">
                                        <div class="form-control">

                                            @Html.DropDownList("PlaceOfVisitId", ViewBag.PlaceVisit as SelectList, "Select Place of visit")
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">

                                        <div class="form-control">
                                            @Html.DropDownList("PurposeOfVisit", ViewBag.Purposeofvisit as SelectList, "Select purpose of visit")
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" id="vehiclePlate">

                                        @Html.EditorFor(model => model.VehiclePlateNo, new { htmlAttributes = new { placeholder = "Vehicle Plate No", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.VehiclePlateNo, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group col-md-6 passengernodropdown">
                                        @*@Html.LabelFor(model => model.Noofpassengers, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="form-control">
                                            @Html.DropDownList("Noofpassengers", new List<SelectListItem>
                                                 {
                                                       new SelectListItem { Text = "1", Value = "1"},
                                                       new SelectListItem { Text = "2", Value = "2"},
                                                       new SelectListItem { Text = "3", Value = "3"},
                                                       new SelectListItem { Text = "4", Value = "4"},
                                                       new SelectListItem { Text = "5", Value = "5"},
                                                       new SelectListItem { Text = "6", Value = "6"},
                                                       new SelectListItem { Text = "7", Value = "7"},
                                                       new SelectListItem { Text = "8", Value = "8"},
                                                       new SelectListItem { Text = "9", Value = "9"},
                                                       new SelectListItem { Text = "10", Value = "10"},
                                                       new SelectListItem { Text = "11", Value = "11"}
                                                   })
                                            @Html.ValidationMessageFor(model => model.TokenDetails.FirstOrDefault().NIC, "", new { @class = "text-danger" })
                                           @Html.ValidationMessageFor(model => model.TokenDetails.FirstOrDefault().Prepaid, "", new { @class = "text-danger" })
                                            <div class="fees-amount no-psg">Select No of passengers</div>
                                        </div>
                                    </div>
                                    <table id="noOfPassenger" style="width:100%" class="form-group no-margin"></table>
                                    <div><input type="submit" value="Generate Token" class="btn btn-primary" /></div>
                                </div>

                         }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    </div>
@*<textarea name="nic"></textarea>*@
    <script type="text/javascript">

        $("#btnStartOperation").click(function () {


            swal({
                title: "Are you sure?",
                text: "you want to Start the Operation?",
                type: "info",
                showCancelButton: true,
                confirmButtonClass: "btn-info",
                confirmButtonText: "Yes, start it!",
                cancelButtonText: "Cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
              function (isConfirm) {
                  if (isConfirm) {
            $.ajax({
                url: "@Url.Action("StartOperation", "Token")",
                type: "post",
                contentType: "application/json",
                success: function (datas) {
                 
                    window.location = '/Token/Index/';

                }
     
            });
                      swal("Started!");
                  } else {
                      swal("Cancelled");
                      window.location = '/Token/Index';
                  }
              });
        });

        $('#btnCloseOperation').click(function () {
            swal({
                title: "Are you sure?",
                text: "you want to close the Operation?",
                type: "info",
                showCancelButton: true,
                confirmButtonClass: "btn-info",
                confirmButtonText: "Yes, Close it!",
                cancelButtonText: "Cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
              function (isConfirm) {
                  if (isConfirm) {
            $.ajax({
                url: "@Url.Action("CloseOperation", "Token")",
                type: "post",
                contentType: "application/json",
                success: function (datas) {
                    window.location = '/Token/TokenAmount/';

                }
            });
                      swal("Closed!");
                  } else {
                      swal("Cancelled");
                      window.location = '/Token/Index';
                  }
              });
        });
        $(window).load(function () {
        


            $(function () {
                //$('#btnsubmits').hide();
                //$('#div1').hide();
                //$('.custom-radios').hide();

                var $radios = $('input:radio[name=pass]');
                if ($radios.is(':checked') === false) {
                    $radios.filter('[value=Individual]').prop('checked', true);
                }
            });
        });
        //$(function () {
        //    var ii = 0;
        //    var indexCell = "<td style='display:none'><input name='tokenDetails.Index' type='hidden' value='" + ii + "' /></td>";
        //    var titleCell = "<td class='col-md-6'><input id='tokenDetail_" + ii + "__Name' name='tokenDetails[" + ii + "].Name' type='text' value='' class='form-control' placeholder='Name'/></td>";
        //    var publishedCell = "<td class='col-md-6'><input id='tokenDetail_" + ii + "__NIC'  name='tokenDetails[" + ii + "].NIC' type='text' value='' class='form-control mask' placeholder='NIC' autofocus='tokenDetails'/></td>";
         
        //    var newRow = "<tr id='trtokendetails" + ii + "'>" + indexCell + publishedCell + titleCell + "</tr>";
        //    //$("#noOfPassenger").append(newRow);
        //    $("#noOfPassenger1").append(newRow);

        //});



        $("input:radio[name=CategoryId]").click(function () {
            // var somval = $(this).val();
            //alert(somval);
            var selection = $(this).attr('id');

            $('select[name="Noofpassengers"]').val('1');
            $("#noOfPassenger").empty();
 

            $('#VehiclePlateNo').val("");

            if (selection == '2')
            {
                $(".passengernodropdown").hide();
                $("#noOfPassenger").empty();
                $("#vehiclePlate").hide();
                
                var ii = 0;
                var indexCell = "<td style='display:none'><input name='tokenDetails.Index' type='hidden' value='" + ii + "' /></td>";
                var titleCell = "<td class='col-md-6'><input id='tokenDetail_" + ii + "__Name' name='tokenDetails[" + ii + "].Name' type='text' value='' class='form-control' placeholder='Name'/></td>";
                var publishedCell = "<td class='col-md-6'><input id='NIC-" + ii + "'  name='tokenDetails[" + ii + "].NIC' data-id="+ ii + " type='text' value='' class='form-control mask' placeholder='NIC' autofocus='tokenDetails'/></td>";

                var newRow = "<tr id='trtokendetails" + ii + "'>" + indexCell + publishedCell + titleCell + "</tr>";
                $("#noOfPassenger").append(newRow);            
            }
            else if(selection == '11')
            {
                  $(".passengernodropdown").hide();
                $("#noOfPassenger").empty();
                $("#vehiclePlate").hide();
                
                var ii = 0;
                var indexCell = "<td style='display:none'><input name='tokenDetails.Index' type='hidden' value='" + ii + "' /></td>";
                var titleCell = "<td class='col-md-4'><input id='tokenDetail_" + ii + "__Name' name='tokenDetails[" + ii + "].Name' type='text' value='' class='form-control' placeholder='Name'/></td>";
                var prepaidCell = "<td class='col-md-4'><input id='Prepaid-" + ii + "'  name='tokenDetails[" + ii + "].Prepaid' data-id=" + ii + " type='text' value='' class='form-control' placeholder='PrePaid Card No' autofocus='tokenDetails'/></td>";
                var publishedCell = "<td class='col-md-4'><input id='NIC-" + ii + "'  name='tokenDetails[" + ii + "].NIC' data-id="+ ii + " type='text' value='' class='form-control mask' placeholder='CNIC' autofocus='tokenDetails'/></td>";

                var newRow = "<tr id='trtokendetails" + ii + "'>" + indexCell + prepaidCell + publishedCell + titleCell + "</tr>";
                $("#noOfPassenger").append(newRow);    
            }
            else
            {
                $(".passengernodropdown").show();
                $("#vehiclePlate").show();
            }
        });





        //var vals = $("#permissionname").val();

        @*$.ajax({
                type: "GET",
                url: "@Url.Action("GetFees", "Token")?CategoryId=" + vals,

                success: function (data) {
                    $("#fees").text('Rs: ' + data);

                },
                error: function (errorData) { onError(errorData); }
            });*@



        $('#Noofpassengers').change(function () {

            $("#noOfPassenger").empty();
            var numOfPassengers = $(this).val();
            for (var i = 0; i < numOfPassengers; i++) {
                var indexCell = "<td style='display:none'><input name='tokenDetails.Index' type='hidden' value='" + i + "' /></td>";
                var titleCell = "<td class='col-md-6'><input id='tokenDetail_" + i + "__Name' name='tokenDetails[" + i + "].Name' type='text' value='' class='form-control'placeholder='Name'/></td>";
                var publishedCell = "<td class='col-md-6'><input id='NIC-" + i + "'  name='tokenDetails[" + i + "].NIC' data-id="+ i +" type='text' value='' class='form-control mask'placeholder='NIC' autofocus='tokenDetails'/></td>";
                @*var ValidationCell = "<td class='col-md-6'>@Html.ValidationMessage("NIC",new { @class="error"}) </td>";*@
                var newRow = "<tr id='trtokendetails" + i + "'>" + indexCell + publishedCell + titleCell + "</tr>";

                $("#noOfPassenger").append(newRow);
                
            }

        });


    </script>
