﻿@model IEnumerable<VehicleQueueApp.Models.Operation>

@{
    ViewBag.Title = "My Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <h2 class="text-center">My Operations</h2>
            <div class="x_panel">
                <div class="x_title">

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OperationStartingDateTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OperationEndingDateTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalAmountinOperation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OpeartionClosed)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OperationStartingDateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OperationEndingDateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalAmountinOperation)
                                </td>
                                <td>
                                    <label class="col-md-12 control control--checkbox">
                                        @Html.DisplayFor(modelItem => item.OpeartionClosed)
                                        <div class="control__indicator"></div>
                                        </label>
</td>



                            </tr>
                        }
                            </tbody>

                    </table>
                </div>
            </div>
                </div>
            </div>
        </div>
@Html.ActionLink("Back", "Index", "Token")
