﻿
@{
    ViewBag.Title = "TokenAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats no-padding">
            <h2 class="text-center no-margin">Total Amount</h2>
        </div>
        <div class="tile-stats padding-half">
            @*<div class="col-md-offset-3 col-xs-5 col-sm-5">*@
            <div class="greenbg col-pr greenbg col-pr padding-top padding-bottom">
                <span class="bd-right padding-right">Final Amount</span>
                <span class="padding-left">@ViewBag.FinalAmount</span>
            </div>

            @*</div>*@
        </div>

    </div>
</div>

<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats no-padding">
            <h2 class="text-center no-margin">Total Tickets Collection</h2>
        </div>
        <div class="tile-stats">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Total Tickets</th>
                    </tr>
                </thead>
                @if (ViewBag.CategoryFeeByOperation != null)
            {

                foreach (var item in (List<VehicleQueueApp.Models.TotalCollectionVM>)ViewBag.CategoryFeeByOperation)
                {
                        <tbody>
                            <tr>
                                <td>
                                    @item.categoryName<span>@item.Narration</span>
                                </td>
                                <td>@item.TicketIssued</td>
                            </tr>
                        </tbody>

                    }
                }
            </table>
            </div>
        </div>
</div>

