﻿@model IEnumerable<VehicleQueueApp.Models.TokenCancelRequest>

@{
    ViewBag.Title = "TokenCancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*table td
    {
        font-size:15pt;
        padding:5px;
        font-family:'Arial Unicode MS';

    }
    #msg{
        font-family:Aldhabi;
        font-size:40px;
        padding:5px;
        font-style:normal;
        color:darkred;
    }*/
</style>
<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
    <h2 class="text-center">TokenCancel</h2>
    <div id="msg">

    </div>
    @if (ViewBag.Message == "1")
            {
        <div class="col-md-offset-4 col-xs-3 col-sm-3">
            <div class="bg-red col-pr danger danger col-pr padding-top padding-bottom">
                <span>Operation not Active</span>
            </div>
        </div>

    }
    else
    {
        using (Html.BeginForm("Approval", "Token", FormMethod.Post))
        {
            <div class="form-group row no-margin-bottom">
                <div class="col-xs-2 col-sm-2">
                    <input type="text" id="TokenNo" name="TokenNo" class="form-control" placeholder="Enter Token" />
                </div>
            </div>

                            <table id="tokenrecords" class="table table-striped table-bordered tkn-expire"></table>
            
                        <div id="app"><input type="submit" value="Approved" id="approved" /></div>
                        }
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>RequestId</th>
                                    <th>Category</th>
                                    <th>Fees</th>
                                    <th>Created Date</th>
                                    <th>Status</th>

                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TokenCancelRequestId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RefundedAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CancelStatu.CancelStatus)
                                            </td>





                                            <td>
                                                @if (item.CancelStatusId == 2)
                                                {
                                                    using (Html.BeginForm("TokenRefundAmount", "Token", FormMethod.Post))
                                                    {
                                                        <input type="hidden" id="tokenRequestId" name="tokenRequestId" value="@item.TokenCancelRequestId" />
                                                        <input type="submit" value="Refund" id="refund" />
                                                    }
                                                }

                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        }
                    </div>
                </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#app').hide();
    });



    $('#TokenNo').on('focusout', function () {
        var tokenNo = $('#TokenNo').val();
        $.ajax({
            url: "@Url.Action("TokenCancel", "Token")?tokenNo=" + tokenNo,
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == "1") {
                    $("#tokenrecords").empty();
                    $("#msg").text('Token is expired or not found.').css('color','red');
                }
                else {
                    $("#msg").empty();
                    $("#tokenrecords").empty();
                    $("#tokenrecords").append('<th>Token No</th>');
                    $("#tokenrecords").append('<th>Name</th>');
                    $("#tokenrecords").append('<th>NIC</th>');
                    $("#tokenrecords").append('<th>is Approved</th>');
                    var i = 0;
                    $.each(data, function (i, item) {
                        var tokenno = "<td>" + data[i].TokenNo + "<input name='tokenDetails[" + i + "].TokenId' type='hidden' value='" + data[i].tokenId + "' /></td>";
                        var name = "<td>" + data[i].Name + "</td>";
                        var nic = "<td>" + data[i].NIC + "</td>";
                        var isapproved = "<td><input class='chk' type='checkbox' name='tokenDetails[" + i + "].isApproved' /></td>";
                        var newRow = "<tr id='trtokendetails" + i + "' class='tkn-approved'>" + tokenno + name + nic + isapproved + "</tr>";
                        $("#tokenrecords").append(newRow);
                        i++;
                    });
                }

            },

            error: function (err) {

            }
        });

    });


    @*$('#btnCancel').on('click', function ()
    {

            var tokenNo = $('#TokenNo').val();
            $.ajax({
                url: "@Url.Action("TokenCancel", "Token")?tokenNo=" + tokenNo,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    if (data == "1") {
                        $("#tokenrecords").empty();
                        $("#msg").text('token is expired');
                    }
                    else {
                        $("#msg").empty();
                        $("#tokenrecords").empty();
                        $("#tokenrecords").append('<th>Token No</th>');
                        $("#tokenrecords").append('<th>Name</th>');
                        $("#tokenrecords").append('<th>NIC</th>');
                        $("#tokenrecords").append('<th>is Approved</th>');
                        var i = 0;
                        $.each(data, function (i, item) {
                            var tokenno = "<td>" + data[i].TokenNo + "<input name='tokenDetails[" + i + "].TokenId' type='hidden' value='" + data[i].tokenId + "' /></td>";
                            var name = "<td>" + data[i].Name + "</td>";
                            var nic = "<td>" + data[i].NIC + "</td>";
                            var isapproved = "<td><input class='chk' type='checkbox' name='tokenDetails[" + i + "].isApproved' /></td>";
                            var newRow = "<tr id='trtokendetails" + i + "'>" + tokenno + name + nic + isapproved + "</tr>";
                            $("#tokenrecords").append(newRow);
                            i++;
                        });
                    }

                    },

                error: function (err) {

                }
            });
        });*@
    $(document).on('change', 'input[type="checkbox"]', function () {
        if ($('.chk:checked').length == $('.chk').length) {
            $('#app').show();
        }
        else {
            $('#app').hide();
        }
    });



</script>

