﻿@model IEnumerable<VehicleQueueApp.Models.TokenCancelRequest>

@{
    ViewBag.Title = "TokenCancellationManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="_right_col" role="main">
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">TokenCancellationManager</h2>
                <div class="x_panel">

                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                                    </th>
                                    <th>Created Date</th>
                                    <th>
                                        Agent
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RefundedAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NoofTickets)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.CancelStatu.CancelStatus)
                                    </th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TokenCancelRequestId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AppUser.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RefundedAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoofTickets)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CancelStatu.CancelStatus)
                                        </td>

                                        <td>
                                            @if (item.CancelStatusId == 1)
                                            {

                                                <a href="#" class="btn-primary" data-id="@item.TokenCancelRequestId">View</a>
                                            }
                                        </td>


                                    </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Refund</h3>

            </div>
            <div class="modal-body">

                <form id="myForm" action="@Url.Action("CancelledStatus","Token")" method="post" enctype="multipart/form-data">

                    <table id="tokenrecords" class="table table-striped table-bordered margin-bottom"></table>
                    <input type="hidden" id="tokenCancelrequestID" name="tokenCancelrequestID" />
                    <input type="submit" value="Approved" class="btn btn-success" name="tokenStatus" id="btnSubmit" />
                    <input type="submit" value="Reject" class="btn btn-danger" name="tokenStatus" id="btnReject" />

                </form>


                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/InternetSlowdown_Day.gif" width="150" /> @* //put any image in content folder*@
                </div>


            </div>
            <div class="modal-footer">


            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {

        $('.btn-primary').on("click", function () {

            var data = $(this).data("id");
            $("#myModal").modal("show");
            $("#tokenCancelrequestID").val(data);
            $.ajax({
                url: "@Url.Action("ApproveCancellationRequest", "Token")?tokenCancelrequestID=" + data,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#tokenrecords").empty();
                    $("#tokenrecords").append('<th>Token RequestId</th>');
                    $("#tokenrecords").append('<th>Token No</th>');
                    $("#tokenrecords").append('<th>Name</th>');
                    $("#tokenrecords").append('<th>NIC</th>');
                    $("#tokenrecords").append('<th>Fees</th>');
                    var i = 0;
                    $.each(data, function (i, item) {
                        var tokencancelrequest = "<td>" + data[i].tokenCancelrequestID + "<input name='tokenDetails[" + i + "].tokenCancelrequestID' type='hidden' value='" + data[i].tokenCancelrequestID + "' /></td>";
                        var name = "<td>" + data[i].Name + "</td>";
                        var nic = "<td>" + data[i].NIC + "</td>";
                        var Fess = "<td>" + data[i].Fees + "</td>";
                        var tokenno = "<td>" + data[i].TokenNo + "</td>";

                        var newRow = "<tr id='trtokendetails" + i + "'>" + tokencancelrequest + tokenno + name + nic + Fess + "</tr>";
                        $("#tokenrecords").append(newRow);
                        i++;
                    });


                },
                error: function (err) {

                }
            });
        });




    });












</script>
