﻿@*@model IEnumerable<VehicleQueueApp.Models.ReportVM>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Daily Dairy registry Staff</h2>
    <div class="col-md-9">


        <table>
            <tr>
                <td>
                    F.No . <input type="text" name="fNotext" />
                </td>

            </tr>
            <tr>
                <td>
                    challan No. <input type="text" name="challanNo" />
                </td>
                <td>
                    Dated. <input type="text" name="challanDate" />
                </td>
            </tr>
            <tr>
                <td colspan="9"><input type="text" name="remitter" /></td>


            </tr>
            <tr>  <td>To be filled in by the remitter</td></tr>
        </table>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                Dated :<input type="text" name="date" />

            </li>
            <li>
                <u>ORIGINAL</u>
            </li>
            <li>
                <u>DUPLICATE</u>
            </li>
            <li>
                <u>TRIPLICATE</u>
            </li>
            <li>
                <u>QUADRUPLICATE</u>
            </li>
            <li>
                <u>QUINTUPLICATE</u>
            </li>
        </ul>
    </div>
    @*<table cellpadding="2" cellspacing="=2" border="1">
        <tr>
            <th>S.No</th>
            <th>Value</th>
            <th>Total No of reciept issued</th>
            <th>Amount</th>
        </tr>
        @{int counter = 0;
        }*@

        @*@foreach (var item in Model)
        {
            <tr>
                <td>@item.bankChallanId</td>
                <td>@counter++</td>
                <td>@item.CategoryId</td>
                <td>@item.totalNoOftoken</td>
                <td>@item.totalAmount</td>
            </tr>
        }

    </table>*@
    <br />
   
@*</body>
</html>*@*
