// Sepia Solutions
//-----------------------------------------------------------
// All  Page Layout Structure Style stuff comes Below
//-----------------------------------------------------------
// For skin Blue
.box-bloc {
    display: block;
}

.skin-blue {
    background: @skin-blue;
    .box-bloc ();
    .navbar,
    .logo {
        /*background: @skin-blue-dark;*/
    }
    .bg-navy {
    background: @skin-blue-light !important;
}

    .main-sidebar {
        .list-unstyled {
            li {
                background: @skin-blue-light;
                &:before {
                    background: @skin-blue-light;
                }
            }
        }
    }
}

// Yellow 
.skin-yellow {
    background: @skin-yellow;
    .box-bloc ();
    .navbar,
    .logo {
        /*background: @skin-blue-dark;*/
    }
    .bg-navy {
        background: @skin-yellow-light !important;
    }
    .main-sidebar {
        .list-unstyled {
            li {
                background: @skin-yellow-light;
                &:before {
                    background: @skin-yellow;
                }
            }
        }
    }
}

// Green

.skin-green {
    background: @skin-green;
    .box-bloc ();
    .navbar,
    .logo {
        /*background: @skin-blue-dark;*/
    }
    .bg-navy {
        background: @skin-green-light !important;
    }
    .main-sidebar {
        .list-unstyled {
            li {
                background: @skin-green-light;
                &:before {
                    background: @skin-green;
                }
            }
        }
    }
}



// Red

.skin-red {
    background: @skin-red;
    .box-bloc ();
    .navbar,
    .logo {
        /*background: @skin-blue-dark;*/
    }
    .bg-navy {
        background: @skin-red-light;
    }
    .main-sidebar {
        .list-unstyled {
            li {
                background: @skin-red-light;
                &:before {
                    background: @skin-red;
                }
            }
        }
    }
}


// Purple

.skin-purple {
    background: @skin-purple;
    .box-bloc ();
    .navbar,
    .logo {
        /*background: @skin-blue-dark;*/
    }
    .bg-navy {
        background: @skin-purple-light !important;
    }
    .main-sidebar {
        .list-unstyled {
            li {
                background: @skin-purple-light;
                &:before {
                    background: @skin-purple;
                }
            }
        }
    }
}

// Blue light

.skin-blue-light {
    background: @skin-light-blue;
    .box-bloc ();
    .navbar,
    .logo {
        /*background: @skin-blue-dark;*/
    }
    .bg-navy {
        background: @skin-light-blue-light !important;
    }
    .main-sidebar {
        .list-unstyled {
            li {
                background: @skin-light-blue-light;
                &:before {
                    background: @skin-light-blue;
                }
            }
        }
    }
}