// Sepia Solutions
//------------------------------------------------------------------
// All Page Elements eg: News, Slider etc style stuff comes Below
//------------------------------------------------------------------
// <editor-fold desc="- - - - [ HOMEPAGE & FULL WIDTH ELEMENTS ] - - - -">
.homepage {
    .h2.entry-title,
    h2.entry-title {
        @media ( max-width: @screen-md-max ) {
            font-size: @font-size-h1 * .75;
        }
    }
    #main {
        background: white !important;
    }
}

//form elemnet
label {
    font-weight: normal;
}

.form-group {
    .form-control-feedback {
        margin-top: 6px;
        height: 26px;
        color: #bbb;
        line-height: 24px;
        font-size: 15px
    }

    .form-control {
        border-radius: 2px;
        -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        height: 40px;
        border-color: rgba(134, 134, 139, 0.29);
        box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 255, 255);
        //padding:0;
        color: #5a5a5a;
        font-size: @font-size-h5;
        margin-bottom: @gutter-width / 2;
    }
}
input {
    //padding: 3px @gutter-width / 2 !important;
}
.dataTables_wrapper {
    .form-control {
        height: 40px;
        margin-bottom: @gutter-width / 2;
        border-radius: 2px;
        background-color: @white-color;
    }
}

.with-bg-title {
    background: rgba(234, 234, 234, 0.36);
    padding: @gutter-width / 2;
    border-radius: 5px;
    margin: 7px 0;
    text-align: center;
}

.no-height {
    height: auto;
}

// Homepage

/**
 - FULL WIDTH
*/

.full-width {
    #main {
        .entry-header {
            float: left;
        }
        >article {
            padding: 0;
            margin: 0;
            >.entry-content.container {
                width: 100%;
                padding: 0;
                background: white;
            }
            .page-content {
                .box-shadow(none);
                padding: 0;
            }
        } // article
    }
}

// full-width
// </editor-fold>
//------------------------------------------------------------------
// custom utilities classes add by Yousuf
//------------------------------------------------------------------
.font-family-group {
    text-transform: uppercase;
    font-weight: @font-weight-light;
}

.box-shadow {
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.padding {
    padding: @gutter-width !important;
    &-half {
        padding: @gutter-width / 2 !important;
    }
    &-top {
        padding-top: @gutter-width / 2 !important;
    }
    &-bottom {
        padding-bottom: @gutter-width / 2 !important;
    }
    &-left {
        padding-left: @gutter-width / 2 !important;
    }
    &-right {
        padding-right: @gutter-width / 2 !important;
    }
}

.no-padding {
    padding: 0 !important;
    &-top {
        padding-top: 0 !important;
    }
    &-bottom {
        padding-bottom: 0 !important;
    }
    &-left {
        padding-left: 0 !important;
    }
    &-right {
        padding-right: 0 !important;
    }
}

.margin {
    margin: @gutter-width !important;
    &-top {
        margin-top: @gutter-width !important;
    }
    &-bottom {
        margin-bottom: @gutter-width !important;
    }
    &-left {
        margin-left: @gutter-width !important;
    }
    &-right {
        margin-right: @gutter-width !important;
    }
}

.margin-half {
    margin: @gutter-width / 2 !important;
    &-top {
        margin-top: @gutter-width / 2 !important;
    }
    &-bottom {
        margin-bottom: @gutter-width / 2 !important;
    }
    &-left {
        margin-left: @gutter-width / 2 !important;
    }
    &-right {
        margin-right: @gutter-width / 2 !important;
    }
}

.padding-half {
    padding: @gutter-width / 2 !important;
    &-top {
        padding-top: @gutter-width / 2 !important;
    }
    &-bottom {
        padding-bottom: @gutter-width / 2 !important;
    }
    &-left {
        padding-left: @gutter-width / 2 !important;
    }
    &-right {
        padding-right: @gutter-width / 2 !important;
    }
}


.no-margin {
    margin: 0 !important;
    &-top {
        margin-top: 0 !important;
    }
    &-bottom {
        margin-bottom: 0 !important;
    }
    &-left {
        margin-left: 0 !important;
    }
    &-right {
        margin-right: 0 !important;
    }
}


.border-bottom {
    padding: 0 !important;
    &-red {
        border-bottom: 4px solid #ef2c3f;
    }
    &-blue {
        border-bottom: 4px solid #1269b5;
    }
    &-green {
        border-bottom: 4px solid #208e3d;
    }
    &-yellow {
        border-bottom: 4px solid #fdd546;
    }
}



img {
    max-width: 100%;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.divider {
    border-bottom: 1px solid @white-color;
    margin: @gutter-width auto;
}

a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    display: block;
}

.absoulte {
    position: absolute;
}

.show-bg {
    #gradient>.horizontal(@btn-scondary, @btn-primary);
}

section {
    padding: @gutter-width 0;
    @device {
        padding: @gutter-width / 2 0;
    }
    .after-heading-text {
        @device-desktop {
            width: 47%;
        }
        margin: @gutter-width auto;
        display: block;
    }
}

.seprator {
    /*&:after {
      border-right: 1px solid @border-primary-color;
      display: block;
      content: "";
  }*/
}

.space-btw {
    padding: @gutter-width * 1 0;
}

//------------------------------------------------------------------
// Button classes add by Yousuf
//------------------------------------------------------------------
.top-user-part {
    .btn-gmail {
        font-size: 14px !important;
        padding: 1px @gutter-width / 2 !important;
    }
}

.btn-properties {
    border-radius: 4px;
    box-shadow: 1px 4px 4px 2px #ccc;
    border: none;
    padding: 10px @gutter-width * 2;
    color: white;
}

.btn {
    padding: 10px @gutter-width; //#gradient > .horizontal(@btn-primary, @btn-scondary);
    //.btn-properties ();
    a {
        color: @white-color;
    }
}

.btn-white {
    background: @white-color;
    .btn-properties ();
    color: @price-color;
    box-shadow: 0px 2px 25px 3px #418957 !important;
    padding: 10px @gutter-width;
    font-size: @font-size-h5;
}

.btn-link {
    font-size: @font-size-h4 - 2;
    padding: 0 20px;
    color: #333333;
    width: 100%;
    text-align: left;
    a {
        color: @black-color;
    }
}

.btn-link-bg {
    background: -webkit-linear-gradient(top, #fff 0, #F8F9F9 100%);
    background: linear-gradient(to bottom, #fff 0, #F8F9F9 100%);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E2E4E6;
    border-bottom-color: #CDD2D4;
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin-top: 6px;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    text-align: left;
    width: 100%
}

.wpcf7-submit {
    #gradient>.horizontal(@btn-primary, @btn-scondary);
    .btn-properties ();
}

.btn-nobg {
    border: none;
    padding: 0px 8px;
    font-size: 16px;
}

.btn-cncl {
    padding: 0px 8px;
    border: none;
    margin-left: 5px;
    line-height: 2;
}

//------------------------------------------------------------------
// Form Elements classes add by Yousuf
//------------------------------------------------------------------
input,
textarea {
    padding: 10px @gutter-width /2;
    max-width: 100%;
    margin: 0px 0px;
    background: transparent;
    border: 1px solid @border-primary-color;
}
input[type="file"] {
    height: auto !important;
}

select {
    width: 100%;
   // height: 45px;
   // font-size: @font-size-h4;
   // margin-bottom: @gutter-width / 2;
   //outline: none;
    -webkit-appearance: none;
    padding: 10px @gutter-width / 2;
    //z-index: 1;
    position: relative;
   // display: block;
   // padding: 0px @gutter-width;
   // transition: border-color 0.2s;
    border: none;
   // border-radius: 5px;
   // box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
   // background: url("images/arrow-down.png")no-repeat 95%;
   // cursor: pointer;
   // display: inline-block;
   // position: relative;
   // font-size: 16px;
   // color: @select-color;
   // width: @select-width;
   // height: @select-height;
    -webkit-box-shadow:
            0 0px 0 #ccc,
            0 0px #fff inset;
    background: url("images/arrow-down.png")no-repeat 95%, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url("images/arrow-down.png")no-repeat 95%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
}

/*.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: @select-background;
    padding: 8px 15px;
@include transition(all 0.2s ease-in);
    &:after {
        content:"";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: @select-color transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 10px;
    }
    &:hover {
        background-color: darken(@select-background, 2);
    }
    &:active, &.active {
        background-color: darken(@select-background, 5);
        &:after {
            top: 9px;
            border-color: transparent transparent @select-color transparent;
        }
    }
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken(@select-background, 5);
    li {
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        border-top: 1px solid darken(@select-background, 10);
    @include transition(all 0.15s ease-in);
        &:hover {
            color: @select-background;
            background: @select-color;
        }
        &[rel="hide"] {
            display: none;
        }
    }
}*/

//------------------------------------------------------------------
// Typography Color add by Yousuf
//------------------------------------------------------------------
h2 {
    font-size: @font-size-h2 - 4;
    color: @h2-text-color;
    text-transform: uppercase;
}

.heading-dash {
    padding-bottom: @gutter-width;
    &:after {
        content: "";
        width: 155px;
        border-bottom: 1px solid @border-secondry-color;
        color: inherit;
        top: 10px;
        margin: auto;
        position: relative;
        display: block;
        text-align: left;
    }
}

.h2,
.h3 {
    &-bottom-line {
        border-bottom: 1px solid @border-primary-color;
        padding-bottom: @gutter-width / 2;
    }
}

h1 {
    font-size: @font-size-h2 + 7;
    color: @white-color;
}

.h3-font-size {
    font-size: @font-size-h3;
}

//------------------------------------------------------------------
// Hover Effect add by Yousuf
//------------------------------------------------------------------
.hover-top {
    position: relative;
}


.bg-elements {
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.transition {
    -webkit-transition: width 0.7s;
    -moz-transition: width 0.7s;
    -ms-transition: width 0.7s;
    -o-transition: width 0.7s;
    transition: width 0.7s;
}


//-----------------------------------------------------------
//  For Phone
// --------------------------------
@screen-xs {
    img {
        text-align: center;
        margin: 0 auto;
    }
}



.box-color {
    height: 100px;
    width: 100px;
    display: block;
}

.light-gray {
    background: @light-gray;
}

.header-btn {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .2) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .2) 100%);
    color: #f3f3f3;
    display: block;
    font-weight: @font-weight-bold;
    padding: 2px @gutter-width / 2;
    user-select: none;
    border-radius: 3px;
}

.dropdown-menu {
    li {
        border-bottom: none !important;
        margin-top: 10px;
    }
}


.bg-cst-blue {
    background: #07adea !important;
}

.bg-cst-light-pink {
    background: #E93042 !important;
}

.bg-cst-blue-color {

    color: #07adea !important;
}

.btn-gmail-no-bg {
    background: none;
}

.bg-green-color {
    color: #00ff04;
}

.bg-red-color {
    color: #980300;
}

.fa-color {
    color: rgba(0, 73, 101, 1) !important;
}

.fa-margin-right {
    padding: 0 !important;
    float: right;
    text-align: center;
}

.space-btw {
    min-height: 200px;
}

.right_col {
    .tile-stats h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: @gutter-width / 2 0;
        border-bottom: 2px solid #F7F7F7;
        text-transform: capitalize;
    }
}


//middle text
.details-container {
    position: absolute;
    left: 0;
    top: 0%;
    max-width: 100%;
    width: 100%;
    height: 100%;

    .container-percent {
        height: 100%;
    }
    .dis-table {
        display: table;
        height: 100%;
        width: 100%;
    }
    .details {
        vertical-align: middle;
        display: table-cell;
        text-align: center;
    }
}


//check box 
.control {
    display: block;
    position: relative;
    padding-left: @gutter-width;
    margin-bottom: @gutter-width / 2;
    cursor: pointer;
    font-size: @font-size-h4;
    margin-left: @gutter-width / 2;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.control__indicator {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #1b1e24;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #1b1e24;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

//Radio Button
/*[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    display: inline-block;
    color: #666;
    margin-bottom: 15px;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #e6e6e6;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #1B1E24;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}*/

.toggle-color(@color: @btn-default-color;
@bg: @btn-default-bg;
@active-bg: @brand-primary;
) {
    color: @color;
    background: #9a0704;
    &:before,
    &:after {
        color: @color;
    }
    &.active {
        background-color: #006d58;
    }
}

.toggle-mixin(@size: @toggle-default-size;
@margin: @toggle-default-label-width;
@font-size: @toggle-default-font-size;
) {
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    height: 5.15rem; //@size;
    width: 11rem; //@size * 2;
    border-radius: 0; //@size;
    &:focus,
    &.focus {
        &,
        &.active {
            outline: none;
        }
    }
    &:before,
    &:after {
        line-height: @size;
        width: 50px;
        text-align: center;
        font-weight: @font-weight-bold;
        font-size: @font-size-h6;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: absolute;
        top: 12px;
        transition: opacity .25s;
    }
    &:before {
        content: 'Shift \A Close';
        left: -@margin;
        white-space: pre;
    }
    &:after {
        content: 'Shift \A Start';
        right: -@margin;
        opacity: .5;
        white-space: pre;
    }

    >.handle {
        position: absolute;
        top: 0px; //(@size * .25) / 2;
        left: 0px; //(@size * .25) / 2;
        width: 50px; //@size * .75;
        height: 52px; //@size * .75;
        border-radius: 0; //@size * .75;
        background: @brand-xtra-secondary;
        transition: left .25s;
        margin: 0px;
        background: #da524f;
    }
    &.active {
        transition: background-color .25s;
        >.handle {
            left: 60px; //@size + ((@size * .25) / 2);
            transition: left .25s;
            margin: 0px;
            background: #1abb9c;
        }
        &:before {
            opacity: .5;
        }
        &:after {
            opacity: 1;
        }
    }

    &.btn-sm {
        &:before,
        &:after {
            line-height: @size - 2px;
            color: @brand-primary;
            letter-spacing: .75px;
            left: @size * .275; //width: @size * 1.55;
        }
        &:before {
            text-align: center;
            left: 56px;
            top: 12px;
            color: #ffffff;
        }
        &:after {
            text-align: center;
            opacity: 0;
        }
        &.active {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
                top: 12px;
                color: #ffffff;
            }
        }
    }

    &.btn-xs {
        &:before,
        &:after {
            display: none;
        }
    }
}



// Apply Mixin to different sizes & colors
.btn-toggle {

    .toggle-mixin;
    .toggle-color;

    &.btn-lg {
        .toggle-mixin(@size: 2.5rem;
        @font-size: 1rem;
        @margin: 5rem;
        );
    }

    &.btn-sm {
        .toggle-mixin(@font-size: .55rem;
        @margin: .5rem;
        );
    }

    &.btn-xs {
        .toggle-mixin(@size: 1rem;
        @margin: 0;
        )
    }

    &.btn-secondary {
        .toggle-color(@active-bg: @brand-secondary);
    }
}


// Left Menu Day Close / Start
.toggle-mixin-left(@size: @toggle-default-size;
@margin: @toggle-default-label-width;
@font-size: @toggle-default-font-size;
) {
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    height: 5.15rem; //@size;
    width: 11rem; //@size * 2;
    border-radius: 0; //@size;
    &:focus,
    &.focus {
        &,
        &.active {
            outline: none;
        }
    }
    &:before,
    &:after {
        line-height: @size;
        width: 50px;
        text-align: center;
        font-weight: @font-weight-bold;
        font-size: @font-size-h6;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: absolute;
        top: 12px;
        transition: opacity .25s;
    }
    &:before {
        content: 'Day \A Close';
        left: -@margin;
        white-space: pre;
    }
    &:after {
        content: 'Day \A Start';
        right: -@margin;
        opacity: .5;
        white-space: pre;
    }

    >.handle {
        position: absolute;
        top: 0px; //(@size * .25) / 2;
        left: 0px; //(@size * .25) / 2;
        width: 50px; //@size * .75;
        height: 52px; //@size * .75;
        border-radius: 0; //@size * .75;
        background: @brand-xtra-secondary;
        transition: left .25s;
        margin: 0px;
        background: #da524f;
    }
    &.active {
        transition: background-color .25s;
        >.handle {
            left: 60px; //@size + ((@size * .25) / 2);
            transition: left .25s;
            margin: 0px;
            background: #1abb9c;
        }
        &:before {
            opacity: .5;
        }
        &:after {
            opacity: 1;
        }
    }

    &.btn-sm {
        &:before,
        &:after {
            line-height: @size - 2px;
            color: @brand-primary;
            letter-spacing: .75px;
            left: @size * .275; //width: @size * 1.55;
        }
        &:before {
            text-align: center;
            left: 56px;
            top: 12px;
            color: #ffffff;
        }
        &:after {
            text-align: center;
            opacity: 0;
        }
        &.active {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
                top: 12px;
                color: #ffffff;
            }
        }
    }

    &.btn-xs {
        &:before,
        &:after {
            display: none;
        }
    }
}

.btn-toggle-left {

    .toggle-mixin-left;
    .toggle-color;

    &.btn-lg {
        .toggle-mixin-left(@size: 2.5rem;
        @font-size: 1rem;
        @margin: 5rem;
        );
    }

    &.btn-sm {
        .toggle-mixin-left(@font-size: .55rem;
        @margin: .5rem;
        );
    }

    &.btn-xs {
        .toggle-mixin-left(@size: 1rem;
        @margin: 0;
        )
    }

    &.btn-secondary {
        .toggle-color(@active-bg: @brand-secondary);
    }
}



//Xpanel
.x_panel {
    position: relative;
    width: 100%;
    //margin-bottom: @gutter-width / 2;
    //padding: @gutter-width / 2;
    display: inline-block;
    background: @white-color;
    border: 0px solid @right-col-bg;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    .transition();
}

.x_title {
    border-bottom: 0px solid #E6E9ED;
    padding: 0;
    margin-bottom: @gutter-width / 2;
}

.bd-bottom-red {
    box-shadow: 0px 2px 0px 3px #da524f !important;
}

.bd-bottom-green {
    box-shadow: 0px 2px 0px 3px #1abb9c;
}

// bread crumb
// .breadcrumb {
//     list-style: none;
//     overflow: hidden;
//     padding: 0;
//     li {
//         float: left;
//         a {
//             color: white;
//             text-decoration: none;
//             padding: 10px 0 10px @gutter-width;
//             background: brown;
//             /* fallback color */
//             background: hsla(34, 85%, 35%, 1);
//             position: relative;
//             display: block;
//             float: left;
//             &:after {
//                 content: " ";
//                 display: block;
//                 width: 0;
//                 height: 0;
//                 border-top: 50px solid transparent;
//                 /* Go big on the size, and let overflow hide */
//                 border-bottom: 50px solid transparent;
//                 border-left: 30px solid hsla(34, 85%, 35%, 1);
//                 position: absolute;
//                 top: 50%;
//                 margin-top: -50px;
//                 left: 100%;
//                 z-index: 2;
//             }
//             &:before {
//                 content: " ";
//                 display: block;
//                 width: 0;
//                 height: 0;
//                 border-top: 50px solid transparent;
//                 border-bottom: 50px solid transparent;
//                 border-left: 30px solid white;
//                 position: absolute;
//                 top: 50%;
//                 margin-top: -50px;
//                 margin-left: 1px;
//                 left: 100%;
//                 z-index: 1;
//             }
//         }
//     }
// }


.breadcrumbn{
  list-style:none;
  display: inline-block;
  li{
    float:left;
    a{
        transition: none;
      color:#FFF;
      display:block;
      background: @blue;
      text-decoration: none;
      position:relative;
      height: 30px;
      line-height:30px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
    }
    &:nth-child(even){
      a{
        background-color: @blue-darken;
        
        &:before{
          border-color:@blue-darken;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:@blue-darken;
        }
      }
    }
    &:first-child{
      a{
        padding-left:15px;
        @include border-radius(4px 0 0 4px);
        &:before{
          border:none;
         }
      }
    }
    &:last-child{
      a{
        padding-right:15px;
        @include border-radius(0 4px 4px 0);
        &:after{
          border:none;
         }
      }
    }
    
    a{   
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid @blue;
        border-width:15px 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:@blue;
      }
      &:hover{
        background-color: @brand-xtra-secondary;
        
        &:before{
          border-color:@brand-xtra-secondary;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:@brand-xtra-secondary;
        }
      }
      &:active{
        background-color: @skin-blue;
        
        &:before{
          border-color:@skin-blue;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:@skin-blue;
        }
      }
    }
  }
}

//arrow
.bd-right {
border-right: 2px solid #FFF;
}
.greenbg {
    background: @green;
}
.col-pr {
    font-size: @font-size-h5 + 2;
    color: @white-color;
    float: none;
    padding: 4px @gutter-width 3px;
    font-weight: @font-weight-bold;
    margin: 0 auto;
    text-align: center;
    //display: table;
}

.tag-arrow {
    &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color: transparent transparent #eada42;
    }
}


.fix-top {
    position: fixed;
    top: 0px;
    right: 220px;
    z-index: 111;
    padding: 17px 30px !important;
}


.fees-amount {
    font-size: @font-size-h5;
    font-weight: @font-weight-bold;
    color: @brand-primary;
    position: absolute;
    top: 25px;
    right: 100px;
}

.no-psg {
    top: 12px;
    color: #999999;
    font-weight: normal;
    display: inline-table;
    right: 110px;
    font-size: @font-size-h6;
}

//grid action

.grid-actions {
    a {
        padding: 3px 5px;
        border-radius: 2px;
        box-shadow: 0px 2px 1px 1px rgba(125, 128, 129, 0.63);
    }
}


//radio button Ticktets
// Colors



.custom-radios {
    text-align: center;
    /*div {
        display: inline-block;
    }*/

    input[type="radio"] {
        display: none;

        + label {
            color: @brand-secondary;
            font-size: @font-size-h5;
            width: 100%;
            cursor: pointer;

            span {
                transition: ease-out 0.2s;
                display: inline-block;
                width: @gutter-width;
                height: @gutter-width;
                margin: @gutter-width / 2 0;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 50%;
                border: 2px solid @white-color;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                line-height: @gutter-width;

                .fa-check {
                    opacity: 0;
                    transition: all .3s ease;
                }
            }
        }

        &#individual + label span {
            background-color: @green-box;
        }

        &#motocycle + label span {
            background-color: @orange-box;
        }

        &#non-commercial + label span {
            background-color: @yellow-box;
        }

        &#commercial + label span {
            background-color: @pink-box;
        }
        &#commercial-above-10 + label span {
            background-color: @blue-box;
        }

        &:checked + label span .fa-check {
            opacity: 1;
            color: @brand-danger;
            font-size: @font-size-h4;
        }
    }
}

.tkn-approved {
    margin-bottom: @gutter-width;
}

//table th

.tkn-expire {
    margin-bottom: 15px;
th {
    background: @brand-primary;
    padding: 8px;
    color: @white-color;
    border: 3px solid #FFFFFF;
}
}

// Colors Classes
.green {
    color: @green-box;
}
.orange {
    color: @orange-box;
}
.yellow {
    color: @yellow-box;
}
.pink {
    color: @pink-box;
}
.blue {
    color: @blue-box;
}
.sea-green {
    color: @sea-green-box;
}