// Header

//-----------------------------------------------------------
// Top Bar
//-----------------------------------------------------------
.main-top_nav {
    position: relative;
    height: 52px;
    z-index: 11;
.top_nav {
    margin-left: 0 !important;
    background: @brand-primary;
    position: fixed;
    z-index: 11;
    width: 100%;
}

.nav_title {
    z-index: 1 !important;
    background: @brand-primary;
    border-bottom: 0px solid @right-col-bg;
    border-radius: 0;
}



.logo {
    //margin-bottom: @gutter-width;
    @media @device-desktop{
        width: @left-col + @gutter-width;
    }
}

    .set-icon {
        background: #238ad0;
        padding: 5px @gutter-width 0px;
    }
    .navbar-nav {
        float: right;
    }
}

//drop-down

.profile_info {
    padding: 12px 0px;
    float: left;
    span {
        font-size: 18px;
        line-height: 20px;
        color: #ffffff;
        margin-right: 15px;
    }
    h2 {
        font-size: 13px;
        color: @white-color;
        text-transform: inherit;
        margin: 0;
    }
}


// toggle


.toggle-on-off form {
    float: left;
    margin-left: 0;
    border-right: 10px solid #2489d0;
}
.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    /*// font-size: 22px;*/
    width: 100%;
    color: #ECF0F1;
    margin-left: 0 !important;
    line-height: 52px;
    display: block;
    // height: 80px;
    margin: 0;
    padding: 4px 10px;
    background: #FFF;
}



//-----------------------------------------------------------
// Responsive Menu
//-----------------------------------------------------------
.phone-menu {
    position: relative;
    box-sizing: border-box;
    z-index: 9999;
    top: 0;
    height: 100%;
}

.phone-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
}

.phone-menu #phone-nav {
    background: white;
    padding: 0px @gutter-width/2 20px;
    margin: 0;
    z-index: 2000;
    box-sizing: border-box;
    position: fixed;
    top: 80px;

    /*  @media @device-phone{
       top: 18.4%;
   }
   
   @media @device-tablet{
       top: 23%;
   } */
    left: -110%;
    height: 100%;
    width: 100%;
    -webkit-transition: all 250ms cubic-bezier(0.595, 0, 0.61, 1);
    /* older webkit */
    -webkit-transition: all 250ms cubic-bezier(0.595, -0.005, 0.61, 1);
    -moz-transition: all 250ms cubic-bezier(0.595, -0.005, 0.61, 1);
    -o-transition: all 250ms cubic-bezier(0.595, -0.005, 0.61, 1);
    transition: all 250ms cubic-bezier(0.595, -0.005, 0.61, 1);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.595, 0, 0.61, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.595, -0.005, 0.61, 1);
    -moz-transition-timing-function: cubic-bezier(0.595, -0.005, 0.61, 1);
    -o-transition-timing-function: cubic-bezier(0.595, -0.005, 0.61, 1);
    transition-timing-function: cubic-bezier(0.595, -0.005, 0.61, 1);
    /* custom */
}

.phone-menu #phone-nav li {
    box-sizing: border-box;
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    color: @brand-secondary;
    padding: 0;
    border-top: 1px solid @right-col-bg;
}

.phone-menu #phone-nav li:first-child {
    border-top: 0;
}

.phone-menu #phone-nav li a {
    padding: @gutter-width / 2 10px;
    color: @brand-secondary;
    border-bottom: 0;
    display: block;
}

.phone-menu #phone-nav>li .sub-menu {
    padding: 10px;
    display: none;
    border-top: 1px solid @right-col-bg;
}

.phone-menu #phone-nav li .sub-menu li a {
    color: @brand-secondary;
    display: block;
    padding: 8px 0;
}

.phone-menu #phone-nav li .trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    background: white;
    border-left: 1px solid @brand-secondary;
    ;
}


.menu-cont.open-menu #phone-nav {
    left: 0;
}

.menu-cont .toggle-menu {
    color:#00adef !important;
    z-index: 2200;
    left: 0%;
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    float: right;
    position: relative;
    padding: 5px 7px;
    border-radius: 0px;
    box-shadow: none;
    font-size: @font-size-h4 + 5;
    margin-top: 0px;
    margin-right: 0px;
    border: 2px solid #efefef;

    box-shadow: 0px 0px 0px 1px #f5f5f5;
}

.menu-cont.open-menu .toggle-menu .icon:before {
    content: "\e014";
}

.menu-cont.open-search #search-top {
    left: 0;
}

.menu-cont.open-menu .toggle-menu .icon:before {
    content: "\f00d";
}

.fa-bars:before {
    content: "\f0c9";
}

@media @device {
	.setting-btn {
    	float: none !important;
        margin: 0 auto;
        display: table;
        li {
            float: left;
        }
	}

	.site_title {
		padding-top: 17px !important;

	}
	.nav-md ul.nav.child_menu li:before {
		background: transparent !important;
	}
	.nav-md ul.nav.child_menu li:after {
		border: none !important;
	}
    .nav.child_menu {
    display: block;
    padding-left: 20px;
    a {
        width: 100% !important;
    }
    li {
        border-bottom: none !important;
    }
}
}
