// Sepia Solutions
//-----------------------------------------------------------
// All  Page Layout Structure Style stuff comes Below
//-----------------------------------------------------------

//-----------------------------------------------------------
// For Left and Right Column
//-----------------------------------------------------------


.left_col {
    background: @brand-primary;
    min-height: 100%;
    width: @left-col;
    padding: 0;
    height: 100%;
    position: fixed;
    top: 57px;
    z-index: 1;

    .nav {
             li {
                position: relative;
                display: table;
                cursor: pointer;
                text-align: center;
                margin-bottom: 0px;
                width: 100%;
                border-bottom: 1px solid @brand-xtra-secondary;
                 a {
                      display: block;
                      font-size: 18px;
                      margin-top: 0px;
                      text-transform: capitalize;
                       padding: 20px @gutter-width;
                       font-weight: bold;
                       &:hover {
                        background: #228ed8;
                        color:@white-color;

                       }

                 }
            }
    }
}

.right_col {
    background: @right-col-bg;

    .tile-stats {
        padding: @gutter-width / 2;
        position: relative;
        display: block;
        margin-bottom:@gutter-width;
        overflow: hidden;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        background: @white-color;
        .transition ();
        .box-shadow ();
        .count {
            font-size: @font-size-h2;
            font-weight: @font-weight-bold;
        }
    }

}



//-----------------------------------------------------------
// For Content Area
//-----------------------------------------------------------
/* .nav>li>a:hover,
.nav>li>a:focus {
    background: none !important;
} */


.bg-cover-no-repeat {
    background-repeat: no-repeat;
    background-size: cover;
}


.top-sky-bg {
    background: url('images/logn-gmail-bg.jpg'); // height: 490px;
    .bg-cover-no-repeat ();
    background-position: top center;
    height: 490px;
    background-size: 100% 100%;
}

.logo_icon {
    padding-top: @gutter-width *2;
    img {
        display: block;
        margin: 0 auto;
    }
}

.nav_menu a i {
    font-size: 24px;
    color: #b0bfc6;

    &:hover {
        color: #07adea;
    }
}

.nav-sm {
    .side-menu {
        span {
            display: inline-table !important;
            width: 100%;
            float: left;
            img {
                margin: 0 auto;
            }
        }
    }

    .large-logo {
        display: none;
    }
    .small-logo {
        display: block !important;
    }
    .site_title {
        line-height: 0px;
    }
}

.side-menu {
    .level0 {
        &:hover {
            a {
                color: #00445d;
            }
            .fa {
                color: #00445d;

            }
        }
    }
}

.btn-gmail {
    position: relative;
    background: url('images/gmail-icon.png');
    background-size: 10%;
    background-position: 12% center;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #ff5252; // box-shadow: 0 1px 2px rgba(213, 232, 238, 1);
    border-radius: 5px;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: @font-size-h4 !important;
    color: @white-color;
    text-transform: inherit;
     //width: 98%;
    /*padding: @gutter-width / 2 @gutter-width * 2 !important;*/

    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; // box-shadow: 0px 6px 17px 1px rgb(184, 216, 222, 1);
        opacity: 0;
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover {
        box-shadow: 0 3px 5px 0 rgba(219, 219, 219, 0.50), 0 3px 5px 0 rgba(219, 219, 219, 0.24) !important;
        border-radius: 3px !important;
        color: @white-color !important;
    }
    &:after {
        opacity: 1;
    }
}

//-----------------------------------------------------------
// Login with Gmail
//-----------------------------------------------------------
.login-with-gmail {
    background: url('images/cloud-trp.png');
    background-position: top center;
    background-repeat: no-repeat;
    /* margin-top: -470px; */
    .row.text-center {}
    .form-control {
        padding-left: @gutter-width + 10px !important;
    }
    .btn {
        width: 100%;
    }
    .mid-bg-area {
        background: @white-color;

        @media @device {
            width: 100%;
        }
        @media@device-desktop {
            //width: 44%;
            padding: @gutter-width;
        }

        margin: 0 auto;
        box-shadow: 0px 4px 50px rgba(0,
        0,
        0,
        0.15);
        padding-bottom: 30px;
        padding-top: 30px;
        float: none;
    }

    .logo_icon {
        padding-bottom: @gutter-width / 2;
        padding-top: 0;
    }

    img {
        margin: 0 auto;
        display: block;
    }

    .input-size {
        //width: 435px;
        margin: 0 auto;
        position: relative;
        .font_icon-top {
            font-size: @font-size-h4;
            position: absolute;
            top: 21%;
            left: 5%;
            color: #797979;
            font-weight: normal;
        }
    }
}



//-----------------------------------------------------------
// Start Trainnig
//-----------------------------------------------------------
.start-trainnig {
    background: url('images/cloud-trp-start-training.png');
    height: 567px;
    .bg-cover-no-repeat ();
    margin-top: 0;
    background-position: top center;
    .f_icon {
        padding-top: @gutter-width;
    }
    .p_font {
        color: #4d4c4c;
        font-size: 18px;
        padding: @gutter-width;
        line-height: 30px;
    }
}

.start-trainnig-bottom-bg {
    .going-google {
        background: url('images/start-tra-bottom.png');
        height: 527px;
        .bg-cover-no-repeat ();
        background-position: bottom center;
    }
}




//-----------------------------------------------------------
// After Login First Dashboard
//-----------------------------------------------------------
.dashboard-scr {
    .btn-gmail {
        width: auto !important;
    }

    .profile_pic {
        position: relative;
    }
    .o_icon {
        position: absolute;
        bottom: 0%;
        left: 70%;
        z-index: 1111;
    }
    .online_icn {
        background: #FFF;
        width: 20px;
        height: 20px;
        border-radius: 15px;

        span {

            background: #33de80;
            height: 10px;
            width: 10px;
            display: block;
            margin: 5px;
            border-radius: 10px;
        }
    }

    .offline_icn {
        background: #FFF;
        width: 20px;
        height: 20px;
        border-radius: 15px;

        span {

            background: red;
            height: 10px;
            width: 10px;
            display: block;
            margin: 5px;
            border-radius: 10px;
        }
    }

    .f_icon {
        img {
            width: 65%;
            padding-top: 7px;
        }
    }

    .left-col-img {
        img {
            margin: 0 auto;
            display: block;
        }
    }
    iframe#ytplayer {
        margin: 0 auto;
        display: block;
        -moz-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
        -webkit-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
        transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
        z-index: 63;
        &:hover {
            opacity: 0.7;
        }
    }
    .progress-round {
        position: relative;
        display: table;
        /* margin: 0px auto; */
        text-align: center;
        div {
            position: relative;
            margin: 80px;
            width: 85px;
            height: 85px;
        }
        canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
        span {
            color: #33414e;
            display: block;
            line-height: 85px;
            text-align: center;
            width: 85px;
            font-family: sans-serif;
            font-size: 20px;
            margin-left: 2px;
        }

        input {
            width: 200px;
        }
    }
    .tile-stats {
        p {
            color: #505050;
            font-size: @font-size-h5 + 2;
            line-height: 32px;
            font-weight: @font-weight-light;
        }
    }

    .btn-gmail {
        background-color: #ff5252;
        border-radius: 5px;
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        font-size: @font-size-h5;
        text-transform: capitalize;
        width: 8%;
        padding: 5px 30px;
        text-align: center;
        a {
            color: @white-color;
        }
    }
}


.more_info {
    padding-top: @gutter-width;
}

.high-box-inc {
    // min-height: 384px;
    height: auto !important
}

.high-box-inc-last {
    // min-height: 500px;
    height: auto !important;
}

.btn {
    &:hover {
        // color: #f6af32;
        text-decoration: none;
    }
    &:focus {
        // color: #f6af32;
        outline: none !important;
    }
}

//icon refresh
i.fa.fa-refresh.bg-cst-blue-color {
    display: none;
}


//-----------------------------------------------------------
// After Login First Dashboard
//-----------------------------------------------------------
.user-traning {
    padding: 0px 0;

    .btn-gmail {
        font-size: @font-size-h4 !important;
        padding: 10px 35px !important;
        margin: 0 5px;
    }
}

.coloumn1 {
    .left_col {
        display: none !important;
    }
    .right_col {
        margin-left: 0 !important;
    }
}

//dropdown
.dropdown-menu {
    padding: 0px 0;
    li {
        margin-top: 0 !important;
        a {
            &:hover {
                background: none;
                color: @brand-primary;
            }
        }
    }
}

// logout admin
#logoutForm.navbar-right {
    width: 100%;
}


// icon for all
.icon-db {
    .fa {
        color: #00adef;
    }
}

//progress left right
.dataTables_wrapper {
    .project_progress small {
        float: right;
    }


    .progress.progress_sm {
        float: left;
        width: 55%;
    }
}

span.fa.fa-angle-down {
    margin-top: 10px;
    font-size: 28px;
    margin-left: 5px;
    color: #FFFFFF;
}

#logoutForm {
    margin: 0;
}

.user-profile.dropdown-toggle {
    margin: 0;
    padding: 0;
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
}


.dply-cnt {
    height: 100%;
    width: 100%;
    display: table;
    .dply {
        vertical-align: middle;
        display: table-cell;
    }
}


// Pagination
.pagination>.active>a {
    color: #ffffff;
    background-color: #03a3de;
    border-color: #03a3de;
}

.pagination>.active>a:focus {
    color: #ffffff;
    background-color: #03a3de;
    border-color: #03a3de;
}

.icon .fa {
    font-size: 22px;
    color: white;
}

.tkn-details {
    span {
        display: inline-block;
        font-size: @font-size-h6 - 2;

    }

}
.center-tickets {
    margin: 0 auto;
    display: table;
}

//price box

.price-tickets-box {
    //padding-bottom: @gutter-width / 2;
    margin: 20px 5px;
    transition: ease-in 0.2s;
    .tickets-price {
        transition: ease-out 0.2s;
        font-size: @font-size-h5 + 1;
        font-weight: @font-weight-bold;
        color: red;
        padding: 4px;
        //margin-bottom: @gutter-width / 2;
        border-bottom: 1px dashed @white-color;
    }
    .tickets-price {
        &:nth-child(2){
            font-size: @font-size-h6 - 2;
            color: @brand-secondary;
        }

    }
    &:hover {
            box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.19);
        span {
            box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.34) !important;
        }
    }
}
    .green-box {
        background: rgba(170, 226, 193, 0.6);
        color: @color-box-color;
        &:hover {
            background: @green-box;
        }
    }
    .orange-box {
        background: rgba(255, 218, 185, 0.44);
        color: @color-box-color;
        &:hover {
            background: @orange-box;
        }
    }
    .yellow-box {
        background: rgba(242, 196, 13, 0.31);
        color: @color-box-color;
        &:hover {
            background: @yellow-box;
        }
    }
    .pink-box {
        background: rgba(255, 192, 203, 0.43);
        color: @color-box-color;
        &:hover {
            background: @pink-box;
        }
    }
    .blue-box {
        background: rgba(51, 151, 219, 0.31);
        color: @color-box-color;
        &:hover {
            background: @blue-box;
        }
    }
    .sea-green-box {
      background: rgba(50, 218, 211, 0.49);
      color: @color-box-color;
      &:hover {
        background: @sea-green-box;
      }
    }

    //Tickets Print
.vehicle-tickets-issue {
    width: 302px;
   .logo-tickets {
        /*border-bottom: @gutter-width / 2 solid @brand-secondary;*/
    }
    h2 {
        border: none !important;
    }
    h6{
        padding: 0 0 10px !important;
        font-weight: bold;
        font-size: @font-size-h6 - 2;
        border-bottom: 2px dashed @brand-secondary !important;
    }
    /* img {
        text-align: center;
        display: table;
        margin: 0 auto;
    } */
    .token-title {
        font-size: @gutter-width + 2;
        border-top: 2px dashed  @brand-secondary;
        margin-top: @gutter-width / 2;
    }
}


//canvas pie

.chartcontainer {
    display: inline-block;
    position: relative;
    top: -100px;
}
