/*  Mixing
//--------------------------------------------------*/
@import "../less/mixins.less";
//--------------------------------------------------*/

// Sections are for relative mixins
// eg: less/mixins/button.less is defined in button area below



// Generate Fonts, inspired fn. mage!
// @family-name: Font Name
// @font-path: Installation Path
// @font-file: Name of Source File
// @font-weight: Normal|Bold|light
// @font-style: normal | Italic
.lib-font-face(
	@family-name: "Helvetica",
	@font-path: "../fonts",
	@font-file: "helvetica",
	@font-weight: normal,
	@font-style: normal
) {
	@font-face {
		font-family: @family-name;
		src: url('@{font-path}/@{font-file}.eot');
		src: url('@{font-path}/@{font-file}.eot?#iefix') format('embedded-opentype'),
			 url('@{font-path}/@{font-file}.svg#@{family-name}') format('svg'),
			 url('@{font-path}/@{font-file}.woff2') format('woff2'),
			 url('@{font-path}/@{font-file}.woff') format('woff'),
			 url('@{font-path}/@{font-file}.ttf') format('truetype');
		font-weight: @font-weight;
		font-style: @font-style;
	}
}



.text-shadow(@shadow) {
	   -moz-text-shadow: @shadow;
	-webkit-text-shadow: @shadow; // iOS <4.3 & Android <4.1
	        text-shadow: @shadow;
}



// <editor-fold desc="- - - - [ Buttons ] - - - -">

	// WIP: currently inherit basic button.
	.generate_button() {
		.btn;
		//.button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
	}

// </editor-fold>
