// Sepia Solutions
//-----------------------------------------------------------
// All  Page Layout Structure Style stuff comes Below
//-----------------------------------------------------------
//-----------------------------------------------------------
// For Print Area
//-----------------------------------------------------------
.certificate {
    img {
        margin: 0 auto;
    }
    .user-title {
        position: absolute;
        top: 56%;
        left: 0;
        right: 0;
        font-size: 67px;
        text-transform: capitalize;
    }
    .user-date {
        position: absolute;
        top: 75%;
        left: 0;
        right: 0;
        font-size: 45px;
        color: #32974c;
    }
    form {
        margin-bottom: 0;
    }
}

.certificate-a4 {
    .user-title {
        // top: 27%;
        // top: 295px;
        position: inherit;
        text-align: center;
    }
    .user-date {
        // top: 39%;
        // top: 425px;
        position: inherit;

        text-align: center;
    }
    .top-cloud img {
            margin: 0 auto;
            width: 100% !important;
        }

    .printable {}

    .top-cloud {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .poztion-middle {
        vertical-align: middle;
        display: table-cell;
    }
    .poztion-top {
        width: 100%;
        height: 100%;
        display: table;
    }
    .crt-bottom img {
            bottom: 0;
            position: absolute;
            width: 100% !important;
            
        }

    .crt-gsuit img {
        width: 234px;
        height: 58px;
    }

    .crt-colgate-logo img {
        width: 499px;
        height: 43px;
    }
}

//Print Area 
@media print {
    .certificate-a4 {
        @page {
            size: auto;
            margin: 0;
        }
        .certificate img {
            margin: 0 auto;
            width: 100%;
        }
        .crt-bottom {
            position: absolute;
            bottom: 0%;
            right: 0;
            left: 0;
            img {
                max-width: 100% !important;
            }
        }

        .top-cloud {
            img {
                max-width: 100% !important;
            }
        }

        .user-title {
            // top: 305px;
            position: inherit;

            text-align: center;
        }
        .user-date {
            // top: 440px;
            position: inherit;

            text-align: center;
        }
        .crt-bottom img {
            bottom: 0;
            position: absolute;
        }
    }
}

@media print {
    .vehicle-tickets-issue {
        width: 576px;
        margin: 0 auto;
        display: table;
    }
    @page {
        size: auto;
        margin: 0;
    }
    .center-tickets {
     margin: 0 auto;
        display: table;
    }
    .non-printable {
        display: none;
    }
    .printable {
        display: block;


    }
}