/**
 * All Less Responsive Property overrides.

	- Extra Small Devices, .visible-xs-*
	 @media (max-width: 767px) {}

	- Small Devices, .visible-sm-*
	@media (min-width: 768px) and (max-width: 991px) {}

	- Medium Devices, .visible-md-*
	@media (min-width: 992px) and (max-width: 1199px) {}

	- Large Devices, .visible-lg-*
	@media (min-width: 1200px) {}

*/


// Small Screen
//// <editor-fold defaultstate="collapsed" desc="--[ EXTRA SMALL DEVICES ]-------">

	/* Extra Small Devices, .visible-xs-* * /
	@media (max-width: 767px) {} */

	@media screen and (max-width: @screen-xs-max ) {

	}

// </editor-fold>








//// <editor-fold defaultstate="collapsed" desc="--[ Small Devices, PHone, Tablet etc ]-------">

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

} // media

// </editor-fold>







//// <editor-fold defaultstate="collapsed" desc="--[ Medium Devices , Tablet OLD PC ]-------">


@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

} // media


// </editor-fold>







//// <editor-fold defaultstate="collapsed" desc="--[ Large 1200px + ]-------">

@media (min-width: @screen-lg-min) {


	//// <editor-fold defaultstate="collapsed" desc="-----[ Header Stuff ]-------">

		.navbar-nav { margin-top: 0px; }

	// </editor-fold>



} // media

// </editor-fold>
