//-----------------------------------------------------------
//  Utilities
//-----------------------------------------------------------
@import "../less/utilities";
//-----------------------------------------------------------

.large {
  font-size: 2em; /*@font-size-h1;*/
}

.small {
  font-size: @font-size-h6;
}

.bg-primary {
  background-color: @brand-primary;
}

.bg-secondary {
  background-color: @brand-secondary;
}

.color-primary {
  color: @brand-primary;
}

.color-secondary {
  color: @brand-secondary;
}

div.divider,
p.divider {
  height: 1px;
  display: block;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid @brand-secondary;
  margin: 10px 0;

  &.light {
    border-color: @gray-light;
  }
}
