// --------------------------------------------------
// Variables, Customized by SepiaSolutions          |
// --------------------------------------------------


/*  Inheriting less/variable.less*/
//-----------------------------------------------------------------------
@import "../less/variables";
//-----------------------------------------------------------------------


// <editor-fold desc="- - - - [ Colors ] - - - -">

//-----------------------------------------------------------------------
@brand-primary:         #3498DB;
@brand-secondary:       #4e4e4e;
@brand-xtra-secondary:  #2A71A5;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@sidebar-bg:            rgba(52, 27, 22, 0.3);
@right-col-bg:          rgba(245, 245, 245, 0.6);

@gutter-width: 30px;

@border-primary-color: #86868b;
@border-secondry-color: #6CB94F;
@menu-primary-color: #5E5E5E;
@menu-secondry-color: #464646;
@btn-primary: #56ab6f;
@btn-scondary: #44a088;
@gray-light-color: #f1f1f1;
@price-color: #55ab70;
@white-color: #FFFFFF;
@black-color: #000000;

@light-gray:#EDEFF0;

@h1-text-color: #419d8b;
@h2-text-color: #6295D6;
@font-weight-light :300;
@font-weight-medium :500;
@font-weight-bold :700;
// </editor-fold>

//-----------------------------------------------------------
// For Skin Color
//-----------------------------------------------------------


@skin-blue: rgb(0, 121, 191);
@skin-yellow: rgb(210, 144, 52);
@skin-green: rgb(81, 152, 57);
@skin-red: rgb(176, 70, 50);
@skin-purple: rgb(137, 96, 158);
@skin-light-blue: rgb(0, 174, 204);

//-----------------------------------------------------------
// For Skin Dark Color
//-----------------------------------------------------------

@skin-blue-dark: #005dbf;
@skin-yellow-dark: rgb(210, 144, 52);
@skin-green-dark: rgb(81, 152, 57);
@skin-red-dark: rgb(176, 70, 50);
@skin-purple-dark: rgb(137, 96, 158);
@skin-light-blue-dark: rgb(0, 174, 204);


//-----------------------------------------------------------
// For Skin Light Color
//-----------------------------------------------------------

@skin-blue-light: rgba(0, 93, 191, 0.36);
@skin-yellow-light: rgba(227, 157, 58, 0.36);
@skin-green-light: rgba(110, 171, 89, 0.36);
@skin-red-light: rgba(172, 53, 31, 0.16);
@skin-purple-light: rgba(153, 121, 170, 0.36);
@skin-light-blue-light: rgba(66, 181, 201, 0.36);

//-----------------------------------------------------------
// For Toggle Button
//-----------------------------------------------------------

@gray-light: lighten(@gray, 15%);
@gray-lighter: lighten(@gray, 30%);;

// Button Colors
@btn-default-color: @gray;
@btn-default-bg: @gray-lighter;

// Toggle Sizes
@toggle-default-size: 1.5rem;
@toggle-default-label-width: 4rem;
@toggle-default-font-size: .75rem;

// breadcrumbs
@blue-gray 			    : #34495e;
@blue-gray-darken 	: #2c3e50;
@blue 				      : #3498db;
@blue-darken 		    : #2980b9;
@green 				      : #1abc9c;
@green-darken 		  : #16a085;

// Select Drop Down

@background: #e74c3c;
@select-color: #fff;
@select-background: #c0392b;
@select-width: 220px;
@select-height: 40px;

// Radio button tickets price box color
@green-box: rgba(121, 224, 163, 0.59);
@orange-box: rgb(255, 218, 185);
@yellow-box: #ffe065;
@pink-box: #ffc0cb;
@blue-box: #63b8f1;
@sea-green-box: #32dad3;
@color-box-color: rgba(51, 151, 219, 1);

// <editor-fold desc="- - - - [ Scaffolding ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Typography ] - - - -">

//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif: "@{font-body-name} Light", "@{font-body-name}", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;

@font-body: @font-family-sans-serif;
@font-body-light: "@{font-body-name} Light", @font-body;

@font-heading: "@{font-heading-name}", @font-body;
@font-heading-light: "@{font-heading-name-light}" @font-heading;

@font-heading-secondary: "@{font-heading-secondary-name}", @font-heading;


@font-heading-name: "Montserrat";
@font-heading-name-light: "Montserrat Light";
@font-heading-secondary-name : "Merriweather";
@font-body-name: "Montserrat" !important;

@font-path: "fonts";
@font-file-heading: ""; // It will be dynamic
@font-file-body: "";


// --------------------------------------------
//= Heading Font
// --------------------------------------------
// Regular
.lib-font-face( @font-heading-name, @font-path, "montserrat-regular-wf" );
// Bold
.lib-font-face( @font-heading-name, @font-path, "montserrat-bold-wf", 700 );
// Light 300
.lib-font-face( @font-heading-name-light, @font-path, "montserrat-light-wf");
// Light in bold
.lib-font-face( @font-heading-name-light, @font-path, "montserrat-bold-wf", 700);




//= Heading fonts Secondary

@font-face {
  font-family: @font-heading-secondary-name;
  src: 	url('../fonts/merriweather-regular.eot');
  src: 	url('../fonts/merriweather-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather-regular.svg#webfont') format('svg'),
  url('../fonts/merriweather-regular.woff') format('woff'),
  url('../fonts/merriweather-regular.woff2') format('woff2'),
  url('../fonts/merriweather-regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: @font-heading-secondary-name;
  src: 	url('../fonts/merriweather-bold.eot');
  src: 	url('../fonts/merriweather-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather-bold.svg#webfont') format('svg'),
  url('../fonts/merriweather-bold.woff') format('woff'),
  url('../fonts/merriweather-bold.woff2') format('woff2'),
  url('../fonts/merriweather-bold.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}



//= Body fonts
@font-face {
  font-family: @font-body-name;
  src: 	url('../fonts/montserrat-regular-wf.eot');
  src: 	url('../fonts/montserrat-regular-wf.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-regular-wf.svg#webfont') format('svg'),
  url('../fonts/montserrat-regular-wf.woff') format('woff'),
  url('../fonts/montserrat-regular-wf.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: @font-body-name;
  src: 	url('../fonts/montserrat-bold-wf.eot');
  src: 	url('../fonts/montserrat-bold-wf.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-bold-wf.svg#webfont') format('svg'),
  url('../fonts/montserrat-bold-wf.woff') format('woff'),
  url('../fonts/montserrat-bold-wf.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "@{font-body-name} Light";
  src: 	url('../fonts/montserrat-light-wf.eot');
  src: 	url('../fonts/montserrat-light-wf.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-light-wf.svg#webfont') format('svg'),
  url('../fonts/montserrat-light-wf.woff') format('woff'),
  url('../fonts/montserrat-light-wf.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "@{font-body-name} Light";
  src: 	url('../fonts/montserrat-regular-wf.eot');
  src: 	url('../fonts/montserrat-regular-wf.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-regular-wf.svg#webfont') format('svg'),
  url('../fonts/montserrat-regular-wf.woff') format('woff'),
  url('../fonts/montserrat-regular-wf.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}







// </editor-fold>






// <editor-fold desc="- - - - [ Iconography ] - - - -">

//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";

// </editor-fold>







// <editor-fold desc="- - - - [ Components ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Tables ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Buttons ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Forms ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Dropdowns ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Media queries breakpoints ] - - - -">


@device-small : ~"only screen and (max-width:320px)";
@device-phone : ~"only screen and (max-width:@{screen-xs-max})";
@device-phone-tablet: ~"only screen and (max-width: @{screen-sm-max})";

@device : @device-phone-tablet;



@device-tablet: ~"only screen and (min-width:@{screen-sm}) and (max-width:@{screen-md-min})";
@device-tablet__landscape: ~"only screen and (min-width:@{screen-sm-min}) and (max-width:@{screen-md-min}) and (orientation : landscape)";



// laptops specific laptops -- so unusual case.
@device-laptop : ~"only screen and ( min-width:@{screen-md-min}) and (max-width:@{screen-lg})";


// General Desktop Styles
@device-desktop: ~"only screen and (min-width:@{screen-md})";

// </editor-fold>








// <editor-fold desc="- - - - [ Grid system ] - - - -">

/*
  NOTE: Tablet has been set to 768 - 991
  screen-xs-min: 480px
  screen-sm-min: 768px
  screen-md-min: 992px
  screen-lg-min: 1200px
*/



@screen-md:                  1024px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

@screen-lg:                  1366px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;
@screen-xl:					 1600px;
@left-col:                   250px;

// </editor-fold>







// <editor-fold desc="- - - - [ Container sizes ] - - - -">



// </editor-fold>








// <editor-fold desc="- - - - [ Navbar ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Navs ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Shared nav styles ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Pagination ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Pager ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Jumbotron ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Form states and alerts ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Tooltips ] - - - -">



// </editor-fold>






// <editor-fold desc="- - - - [ Popovers ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Labels ] - - - -">



// </editor-fold>








// <editor-fold desc="- - - - [ Modals ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Alerts ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Progress bars ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ List group ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Panels ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Thumbnails ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Wells ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Badges ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Breadcrumbs ] - - - -">



// </editor-fold>






// <editor-fold desc="- - - - [ Carousel ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Close ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Code ] - - - -">



// </editor-fold>







// <editor-fold desc="- - - - [ Type ] - - - -">



// </editor-fold>
