﻿@model VehicleQueueApp.Models.AppRole

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register Group";
    List<VehicleQueueApp.Models.AppModule> AllModules = ViewBag.ApppModule;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats">
                <h2 class="text-center">Create</h2>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.RoleName, new { @class = "control-label col-2" })
                        @Html.EditorFor(model => model.RoleName)
                        @Html.ValidationMessageFor(model => model.RoleName)
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.isDisable)
                        @Html.LabelFor(model => model.isDisable, new { @class = "control-label col-1" })
                        @Html.ValidationMessageFor(model => model.isDisable)
                    </div>
                </div>
                </div></div></div>
                <div class="row">
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tile-stats">
                            <div class="x_panel">
                                <div class="x_content">
                                    <h3 class="padding-left">Access Rights</h3>

                                    <table class="table table-striped table-bordered dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th>Modules</th>
                                                <th>Activities</th>
                                            </tr>
                                        </thead>
                                        @*@foreach (var item in Model.AppModuleList) {*@
                                        <tbody>

                                            @for (int i = 0; i < @AllModules.Count; i++)
                {
                                                <tr>
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" name="SelectedModules[@i].ModuleID" value="@AllModules[i].ModuleID" @(AllModules[i].isGroupModuleAsigned ? "checked=\"checked\"" : "") />
                                                            @Html.DisplayFor(model => AllModules[i].ModuleName)
                                                        </label>
                                                    </td>
                                                    <td>
                                                        @{  int j = 0;
                                                            foreach (var subitem in AllModules[i].permissionlists)
                                                            {
                                                                string chkd = ((@AllModules[i].RightsModified.Count > 0) ? @AllModules[i].RightsModified[j].isChecked : "");
                                                                <label  class="margin-half-right">
                                                                    <input type="checkbox" name="SelectedModules[@i].Rights[@j].@subitem.permissionname" value="@subitem.permissionname" @chkd />@subitem.permissionname
                                                                    @*<input type="checkbox" name="[@i].Rights" value="@subitem.permissionname" />@subitem.permissionname*@
                                                                </label> j++;
                                                            }
                                                        }
                                                    </td>
                                                </tr>

                                                            }
                                        </tbody>


                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary margin-bottom" />
                                <div class="clearfix"></div>
                                @Html.ActionLink("Back to List", "Index")


                            </div>
                        </div>
                    </div>
                </div>


                
                
                }
