﻿
@model IEnumerable<VehicleQueueApp.Models.Day>

@{
    ViewBag.Title = "DaysList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <h2 class="text-center">Days</h2>
            <div class="x_panel">
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Day Id</th>
                                <th>Starting Date Time</th>
                                <th>Ending Date Time</th>
                                <th>Is Day Closed</th>
                                <th>Final Amount</th>
                                <th>Is BankChallan Generated</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DayId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndingDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsDayClosed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FinalAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsBankChallanGenerated)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Shifts", "AllShifts", "Shift", new { dayId = item.DayId }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tile-stats text-center">
                
            </div>
        </div>
    </div>
}
<script>
    //$(document).ready(function () {
    //    $('#myTable').DataTable();
    //});
</script>
